[2020-10-09 21:29] gregjopa opened #29 "[Feature] Add GitHub Action workflow for running tests"
It would be great to have a GitHub Action Workflow added to this project that executes the build, linting, and unit tests for Pull Requests. Ex: https://docs.github.com/en/free-pro-team@latest/actions/guides/building-and-testing-nodejs#starting-with-the-nodejs-workflow-template.

To resolve this issue send a PR with a new `.github/workflow` file that runs against Node 10 and Node 12.

[2020-10-09 21:34] gregjopa opened #30 "[Feature] Create TypeScript typings"
This project isn't written in TypeScript, but many TypeScript users would like to use published typings. For this issue, create TypeScript typings that cover the exported functions, and contribute it back to DefinitelyTyped!

This issue is great for someone who wants to learn more about TypeScript!

Here's an example from paypal-js: https://github.com/paypal/paypal-js/issues/39

[2020-10-09 21:47] gregjopa opened #31 "Improve Storybook Example with PayPal Marks radio buttons"
The [current radio buttons example](https://paypal.github.io/react-paypal-js/?path=/docs/example-paypalmarks--radio-buttons) works but could be improved to use the `args` and follow more React best practices.

Please update this component to use this structure:

[code]

[code]

[2020-10-13 00:55] ng29 opened #35 "[TOC] Adding TableOfContents in readme.md"
### 🚀 Feature Proposal

Adding table of contents in readme.md.

### Motivation

The idea for Adding Table of Content to Readme.md to add additional enhancement and readability to the docs file.

### Example

Down the line, if readme content increases it will be easy to hop between the docs too.

[2020-10-13 16:12] sahaparamjit commented on #30
@gregjopa
Like to take this up

[2020-10-13 20:41] #31 closed

[2020-10-13 21:10] gregjopa commented on #35
Hi @ng29, thanks for the feature request. The readme.md file isn't very long. I don't think we need a Table of Contents section just yet.

We will keep this in mind as we continue to evolve the docs.

[2020-10-13 21:10] #35 closed

[2020-10-14 03:35] gregjopa opened #38 "[Feature] Add GitHub Action badge to README"
Add a new badge to the README for GitHub Actions. Ex: https://github.com/paypal/react-paypal-js/workflows/CI/badge.svg

In terms of badge order, please make this the second badge after the npm badge.

[2020-10-14 04:58] hndoss commented on #38
Hi! I already sent a PR.

[2020-10-14 08:00] PaulieScanlon commented on #30
Hey @gregjopa and @sahaparamjit

What's the advantage of creating types and publishing them to DefinitelyTyped over converting the whole project over to TypeScript and bundling the types with the build?

[2020-10-14 13:46] yash2189 commented on #38
Hi can I work on this?

[2020-10-14 14:47] gregjopa commented on #38
Sorry @yash2189 but @hndoss beat you to it and already has a PR w/ the fix. I assigned this issue to @hndoss

[2020-10-14 15:08] gregjopa commented on #30
Great question @PaulieScanlon. We aren't ready to commit to using typescript in this repo. The thinking is adding types to DefinitelyTyped provides TypeScript developers with something useful. We are using this same strategy with several of the other paypal open source js projects.

[2020-10-14 20:41] gregjopa commented on #30
@PaulieScanlon sounds good! We appreciate your offer to help and will keep that in mind in our future typing adventures 😄

[2020-10-14 20:42] #38 closed

[2020-10-22 19:03] Manuel83 opened #45 "[Bug] Rerender Error - Uncaught Error: Window closed"
### 🐞 Describe the Bug

When the PayPalButtons Component is used in a Form which is again after state change  the javascript console shows an error.

![image](https://user-images.githubusercontent.com/5859486/96916995-94e48e80-14a8-11eb-8c8b-3dc71bdb5b9f.png)

### 🔬 Minimal Reproduction
![image](https://user-images.githubusercontent.com/5859486/96918031-f35e3c80-14a9-11eb-852a-01e736663b0a.png)

`

[2020-10-24 12:27] dreyks opened #46 "[Feature] Expose script error state"
### 🚀 Feature Proposal

The library should expose the failing state of the SDK script

### Motivation

There's currently no indication in case the SDK script fails to load for any reason so there's no way for the application to figure out that the script has failed

### Example

This information would be useful to have the ability to notify the app user that they should take some actions like relo

[2020-10-24 16:45] gregjopa commented on #46
Hi @dreyks, this is a great feature request! 🚀  I totally overlooked error handling with script loading in the ScriptContext.

I'm onboard with this design. Makes sense to track more about loading in state, including if it failed. Have you seen any other react libraries using this pattern? I'd like to learn more about it.

We'd happily do a major version release for this feature. We are interested

[2020-10-24 17:34] dreyks commented on #46
this is an enum pattern that is highly recommended by many including Kent C. Dodds https://kentcdodds.com/blog/stop-using-isloading-booleans/

I'll try to come up with a PR in the next couple of days

[2020-10-25 16:29] sajadghawami commented on #45
Having the same problem

[2020-10-25 17:56] gregjopa commented on #45
@Manuel83 thanks for creating the issue. This is indeed a bug with this react component. I am able to reproduce this same error with the [Currency demo](https://paypal.github.io/react-paypal-js/?path=/story/example-usepaypalscriptreducer--currency-usd) when quickly switching options.

@sajadghawami I believe this bug is related to this zoid issue: https://github.com/krakenjs/zoid/issues/218. The k

[2020-10-25 22:37] sajadghawami commented on #45
@braebot thanks for the quick reply.

i encountered that `zoid issue` too, but was not sure where it came from.

[2020-10-26 20:19] #45 closed

[2020-10-26 20:26] gregjopa commented on #45
I just published version 1.0.3 which contains the fix from #47 to catch this render error and log it using `console.error()`.

[2020-10-28 20:40] mglaman opened #49 "[Feature] Hosted Fields component"
### 🚀 Feature Proposal

It'd be great to have a hosted fields component and support: https://developer.paypal.com/docs/business/checkout/advanced-card-payments/#

Currently, you cannot set the client-token as an option on the PayPalProvider. So even trying to write a custom component will not work.

### Motivation

We want to embed hosted fields

### Example

We've implemented this for the Drupal

[2020-10-28 20:46] mglaman commented on #49
Oh, just because it isn't in the props types didn't mean it was supported.

[code]

With this we can detect if eligible and use a hosted field setup or fallback to smart buttons

[code]

[2020-10-29 04:58] gmerino92 opened #50 "[Bug] Card Fields instead of Popup Checkout flow"
Hi guys, didn't know if this qualified as a bug or not, but I'm getting some weird behaviour from the "Debit or Credit Card" button, or at least inconsistent with the examples shown in the Storybook.

I've implemented everything as suggested in the docs, using all the defaults and whenever I click on the "Debit or Credit Card" button I'm getting the following form:

<img width="396" alt="Captura d

[2020-10-29 19:17] camsjams commented on #30
Let me know if there is anything I can do to help @sahaparamjit

[2020-10-30 02:37] #46 closed

[2020-10-30 16:04] gregjopa commented on #49
@mglaman thanks for opening up this issue. You are correct that `data-client-token` should work fine even though it's missing from the prop-types. Thanks for pointing that out. I added it to the prop-types in PR #51.

Hosted-fields should definitely be possible using the custom component approach you outlined in https://github.com/paypal/react-paypal-js/issues/49#issuecomment-718198987.

Another t

[2020-10-30 16:15] gregjopa commented on #50
Hi @gmerino92 thanks for reporting this! It does appear to be a bug, at least with the storybook demos. I'm going to continue troubleshooting.

[2020-10-30 18:38] gmerino92 commented on #50
Great, @gregjopa . Let me know if there is any more info I can provide to help.

[2020-11-02 12:00] giladv opened #53 "TypeScript Issue - usually optional script options are required"
usually only the client-id is required. but it seems all of the options are required in this package
[code]

how to reproduce:
1. basic typescript setup
2.
[code]

[2020-11-02 23:06] #50 closed

[2020-11-03 04:47] gmerino92 commented on #50
Awesome, thanks.

[2020-11-04 16:30] gregjopa commented on #30
@camsjams would you be open to taking this on? I'm happy to assign it to you and help answer any questions.

The goal is to send a PR to DefinitelyTyped to add types for this library. The ScriptOptions are already typed from paypal-js so you could just copy and paste them: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/paypal__paypal-js/index.d.ts.

[2020-11-04 16:34] gregjopa commented on #53
Hi @giladv we have an open issue for adding types for this library: https://github.com/paypal/react-paypal-js/issues/30. Once those types are added, it should make it easy to use react-paypal-js with typescript.

What typescript setup are you using? I tried to reproduce using a new create-react-app project using the typescript template. I get the following compile error about missing types:

[code

[2020-11-04 18:00] camsjams commented on #30
Sure I can work on this, I have a couple of projects using this library that have local TypeScript PayPal definitions to make my code lint nicely, so it shouldn't be too terrible.

[2020-11-04 20:29] gregjopa commented on #30
Awesome, thanks @camsjams! That's great to hear. No rush on this. Please tag me on the DefinitelyTyped PR.

[2020-11-05 21:23] pedroapfilho opened #54 "`changeCurrency` not available anymore"
I saw that `changeCurrency` was removed from the `actions`. What should be used now to change the currencies?

[2020-11-05 21:31] gregjopa commented on #54
Hi @pedroapfilho, we recommend using the new `resetOptions` action. Here's an example story showing how to use it to change currency:
- https://github.com/paypal/react-paypal-js/blob/main/src/stories/usePayPalScriptReducer.stories.js#L18-L35
- https://paypal.github.io/react-paypal-js/?path=/story/example-usepaypalscriptreducer--currency-usd

Let me know if this solution works for you.

[2020-11-05 21:37] pedroapfilho commented on #54
That's exactly what I needed! Thanks a lot for the quick response! Maybe you could open a `CONTRIBUTION.md` for this repo so we could document these props, maybe a table of possible props.

Thanks a lot!

[2020-11-05 21:37] #54 closed

[2020-11-05 22:53] gregjopa commented on #54
@pedroapfilho happy to help!

That's a good idea to document the options with `usePayPalScriptReducer`. We plan on doing that in the near future.

[2020-11-06 13:38] yocmen opened #55 "[Bug] Unwanted rerender from side effects with "createOrder" prop"
### 🐞 Describe the Bug

The popup windows just close without showing an error

### 🔬 Minimal Reproduction

On my react component I have:

[code]

then I have a method *handleCreateOrder* to manage the create order on my server-side:

[code]

### 😕 Actual Behavior

If I use the `setinternalOrderNumber(result.internalOrderNumber); `  the popup just banished without message

### 🤔 Expected Behavior

[2020-11-06 16:32] gregjopa commented on #55
Hi @yocmen, thanks for creating this issue. I was able to reproduce this problem with client-side only code:

[code]

Right now the `useEffect()` hook for `<PayPalButtons />` rerenders anytime props change. Since `createOrder` is a function, any state changes from the callback execution seem to trigger a rerender. There are use cases like having a dynamic amount where we want this behavior: https:

[2020-11-06 16:54] yocmen commented on #55
Ok, I will do some test and try to find a solution for both cases, if I found something I will let you know with a PR, really thanks for this job, Paypal need more projects like this.

[2020-11-10 23:02] giladv commented on #53
hi @gregjopa, here is my tsconfig file
[code]
either way, i believe the issue is that typescript fallbacks to proptypes if possible. so the issue is this [line](https://github.com/paypal/react-paypal-js/blob/main/src/ScriptContext.js#L101) because you used ```propTypes.exact```.

[2020-11-12 23:21] gregjopa commented on #53
@giladv thanks for sharing your TypeScript config. I'm still not able to reproduce the error unfortunately.

I see what you mean. It sounds like `propTypes.exact()` doesn't convert nicely to TypeScript for this use case. We chose `exact()` over `shape()` because we need to make this `options` object a required prop that must have the `client-id` key. All other keys are optional but we want to erro

[2020-11-13 12:45] gregjopa commented on #30
Hi @camsjams, I wanted to follow up. Are you still up for working on this? If not, are you able to share the type definitions here that you've been using internally? Thanks again.

[2020-11-13 19:57] gregjopa commented on #55
This bug was fixed in #56 and is included in the v3 release.

[2020-11-13 19:57] #55 closed

[2020-11-16 18:17] camsjams commented on #30
HI @gregjopa

I am planning on doing so this week, but just in case, I've uploaded the rudimentary one that I use in some projects here:
https://gist.github.com/camsjams/b843637df7a30c260b341daf97a96d60

*Note:* The above is mostly accurate, as the types are inferred from code and also the official PayPal SDK documentation, but I haven't done a thorough pass. It also only covers half of the React

[2020-11-16 18:26] gregjopa commented on #30
https://gist.github.com/camsjams/b843637df7a30c260b341daf97a96d60

Thanks for sharing @camsjams! This is a great start! 💯

Feel free to skip the types for the `<PayPalMessages />` component for now. It's still a WIP and we haven't documented the the prop types for it. The `<PayPalMarks />` component is pretty simple with just one prop type of `fundingSource`

Thanks again for taking this on. Later

[2020-11-17 20:06] pedroapfilho opened #58 "Failed to render <PayPalButtons /> component. Error: Window closed"
As I have to fetch data to render the `PayPalButton`, it re-renders a couple times, and this error appears on the log:

<img width="640" alt="Screenshot 2020-11-17 at 21 04 05" src="https://user-images.githubusercontent.com/13142568/99441711-90c95680-2918-11eb-9dfe-0ab168f4244d.png">

Is it something wrong with it? Should I care?

And is there a way to make it not re-render every time I change som

[2020-11-17 20:10] pedroapfilho opened #59 "Weird implementation of `usePayPalScriptReducer`"
So, if I want to just dispatch actions, without touching the `state`, I have to:

[code]

What is very ugly, and looks like a workaround, but actually it's the only way of doing it without bugging my linter.

What if we implement it as an object? So we can have the `dispatch` and the `state` inside the `paypal` object that we render using `usePayPal`? It would be much nicer to use, like:

[code]

[2020-11-17 20:11] pedroapfilho commented on #58
Maybe one option to make it not reload this much would be to denounce the function that changes the `onApprove` or the `createOrder`, but then I think it should be documented.

[2020-11-17 20:14] gregjopa commented on #58
Hi @pedroapfilho,

I recommend waiting to render the `<PayPalButton />` component until you have all the data you need. Ex:

[code]

Those re-rendering errors shouldn't break the Buttons but it's best practice to be defensive around the re-render strategy.

Yep this was totally a bug that recently got fixed and is part of the v3 release. In v3, state changes related to the callbacks won't trigger

[2020-11-17 20:31] gregjopa commented on #59
What is very ugly, and looks like a workaround, but actually it's the only way of doing it without bugging my linter.

This `[state, dispatcher]` design is modeled after [React's useReducer hook](https://reactjs.org/docs/hooks-reference.html#usereducer) and is pretty common. I know the syntax isn't the prettiest, but you get use to it after a while.

We are open to PRs to add a new `updateOptions`

[2020-11-17 20:36] pedroapfilho commented on #58
Hey @gregjopa I saw it! It seems that it still rerenders for me, but I think it's because I call `useContext` inside of the component that renders it, and sometimes the context state changes and the button rerenders too. It's weird because that's the only thing that re-renders in the whole app. (It'
s a checkout page)

[2020-11-17 20:57] pedroapfilho commented on #59
Hey @gregjopa thanks again for the quick response, you're great!

I think that it's ok with the current implementation, it's just a matter of discussion of how to architecture the `hooks`, but you've got a point.

About the use cases, I had it in the past, but I think that after knowing that this was to make it more resilient for other use cases, that's fine, we should keep the package as `non-opi

[2020-11-17 20:57] #59 closed

[2020-11-17 21:55] gregjopa commented on #58
@pedroapfilho thanks for sharing your use case. Can you try using `memo` to see if it prevents the re-renders?

Here's a Draft PR that adds it to the buttons component: https://github.com/paypal/react-paypal-js/pull/61

You may also be able to do it in user-land like so:

[code]

[2020-11-20 15:53] gregjopa commented on #58
@pedroapfilho could you please provide a code snippet or an example project to show the problem you are running into with wrapping the Button in a component that's using `useContext`? I'm been struggling to reproduce the issue.

[2020-11-20 15:59] pedroapfilho commented on #58
For sure! I'll do it today!

[2020-11-20 16:45] mercteil opened #62 "[Feature] Displaying LoadingIndicator until onApprove promise chain has finished"
I am facing an issue where my `server side` implementation of paypal payments has to wait until the payment is `captured` AND then do some DB operations (writing transactions id to DB, manipulating order status, etc.). Therefore the `capture` method has to successfully finish first.

As I found out the `capture` method closes the `paypal iframe` on the client side whenever it finishes successfully

[2020-11-20 20:09] yocmen commented on #62
This could be awesome, I have the same issue, I just put a "loading" overlay in the back of the Paypal overlay... but something native could be better

[2020-11-21 17:30] pedroapfilho commented on #58
I just discovered, creating the example, what exactly is the problem...

It seems that the `style` prop is not memoized, so it re-renders and makes it get messy.

https://codesandbox.io/s/adoring-architecture-ikx44?file=/src/index.js

You can check it here:

1- Type something, you'll see it rerendering
2- Remove the `style` from the `PayPalButtons` component
3- Type again on the input, you'll see

[2020-11-21 17:37] pedroapfilho commented on #58
Here: https://github.com/paypal/react-paypal-js/blob/bd89c0251dbab17fdf466cd2772b60f3507a9cb9/src/components/PayPalButtons.js#L48

You've added it to the `useEffect` dependencies.

[2020-11-21 19:09] gregjopa commented on #58
@pedroapfilho nice catch! It sounds like watching an object like props.style in the useEffect hook is problematic since it's not a primitive value. So the solution is to remove props.style from that list, correct?

[2020-11-21 19:12] pedroapfilho commented on #58
Yep! I'll do it today!

[2020-11-22 03:18] #58 closed

[2020-11-22 17:54] FantaBoy1 opened #65 "PayPalScript refreshing"
Hi guys,

I'm trying to figure out how should I work with changing params like currency but I don't see any examples to implement it. I think it would be great to place more info about it. Right know im trying this approach:

[code]

So I have a global state that changes, and I see it in console.log() but how should I refresh this provider? Right now it doesn't work, and any changes doesn't affect

[2020-11-22 19:50] gregjopa commented on #65
Hi @FantaBoy1, please use the `usePayPalScriptReducer` to update the provider. Sorry you were confused by this. We are working on adding some documentation for it.

Here's a storybook example that shows how to update currency:
- https://github.com/paypal/react-paypal-js/blob/main/src/stories/usePayPalScriptReducer.stories.js#L25
- https://paypal.github.io/react-paypal-js/?path=/story/example-usepa

[2020-11-22 20:05] gregjopa commented on #62
Hi @mercteil, thanks for sharing how you're managing loading state. It's a cool example. We are missing docs for the `usePayPalScriptReducer` hook. Sorry that was a pain to figure out.

The `usePayPalScriptReducer` hook is for updating state for the JS SDK script params. It currently does not manage any state for components, only the script-level params. It's possible to have multiple different `<

[2020-11-22 21:06] FantaBoy1 commented on #65
Great, thank You very much

[2020-11-23 13:13] #65 closed

[2020-11-29 20:16] pedroapfilho commented on #30
@gregjopa Wouldn't it be better to create an Umbrella issue, rewriting the lib to use `Typescript`? Maybe for version `4`.

Doing so makes it easier to work with it, and it can lead to fewer bugs in the future.

[2020-12-02 19:02] gregjopa commented on #62
hi @mercteil I spoke about this with the team internally. It turns out this is a common complaint and something we are going to fix in the sdk itself. I've created this github issue to track it: https://github.com/paypal/paypal-checkout-components/issues/1486.

I think your work around is a great way to handle this for the time being. I'd like to avoid adding anything to react-paypal-js for this s

[2020-12-02 19:02] #62 closed

[2020-12-04 18:25] gregjopa opened #69 "[Feature] Use TypeScript"
### 🚀 Feature Proposal

Update this library to use [TypeScript](https://www.typescriptlang.org/).

### Motivation

Several developers have requested TypeScript types for this library. We could solve that problem in a few different ways. One way is to convert this codebase to TypeScript and include types for all publicly exported functions.

Here's a good doc about [the advantages of TypeScript](ht

[2020-12-04 18:26] gregjopa commented on #30
@pedroapfilho sure, that's a great idea! Here's the umbrella issue: https://github.com/paypal/react-paypal-js/issues/69

[2020-12-07 07:07] sahaparamjit commented on #69
@gregjopa I would like to work on this. I am learning TypeScript. So I guess it would be great if I take that.

[2020-12-07 20:26] gregjopa commented on #69
@sahaparamjit that would be awesome! Happy to answer any questions you may have along the way.

[2020-12-10 19:03] gregjopa commented on #69
Hi @sahaparamjit just wanted to check in. Have you had a chance to work on this? Let me know if you have any questions.

[2020-12-14 18:15] isaacewing commented on #69
@gregjopa  I would also like to work on this. you made a great component... in javascript ha. I'm pretty good with typescript and would like to help. right now, i'm creating interfaces for my project and would like to contribute them the ts version of this when it's ready

[2020-12-14 21:34] gregjopa commented on #69
@isaacewing that sounds great! I'd appreciate the help.

[2020-12-20 13:35] HunteRoi commented on #69
Hey there! I know this started a few days ago but would it be possible to have some updates? I am working on a React+Typescript project and I would be really happy to see this library updated to its TS version :smile:

[2020-12-21 22:56] gregjopa commented on #69
Hello TypeScript friends! I started hacking on TypeScript for paypal-js and would appreciate a code review if anyone has time: https://github.com/paypal/paypal-js/pull/55. The idea is to add TypeScript to paypal-js and then to this library (which depends on paypal-js).

The idea with this design is paypal-js would provide type definitions for the whole JS SDK so everyone will know what's possible

[2021-01-02 02:27] #53 closed

[2021-01-04 16:00] sherlaimov-osdb opened #70 "Impossible to style top-level container"
### 🐞 Describe the Bug

The button gets rendered with a top-level div with no attributes. There's no direct way to either place a class name or otherwise style the parent div.

### 🔬 Minimal Reproduction

Install the React PP buttons plugin and try setting a custom button width.

### 😕 Actual Behavior

Impossible to specify a class name or otherwise style the top-level div.

### 🤔 Expected Behavio

[2021-01-10 02:32] HunteRoi commented on #69
Hello guys! Happy New Year 😄

I see that paypal/paypal-js#55 is merged. Can we have an update on this issue as well please?

[2021-01-10 18:59] gregjopa commented on #69
Hi @HunteRoi! Happy new year! I put together a PR for adding TypeScript: #71

Please review the PR and test out the beta!

Also, there are a lot of `@ts-expect-error` statements being used to avoid errors. I could use some help with cleaning these up. I would gladly accept PRs to this "typescript" branch.

[2021-01-18 14:27] RahavLussato opened #72 "[Bug] Sometimes get 'script-src-elem' was not explicitly set error on windows"
### 🐞 Describe the Bug

Sometimes on our sandbox env when we try click on the Paypal button to open the modal, its get stuck in infinite loading spinner and we see this error in the console
[code]

### 🔬 Minimal Reproduction

Hard to reproduce as it sometimes happens and after some refreshes, it suddenly works.

### 😕 Actual Behavior

PayPal SDK not loaded because of the above error.

### 🤔 Expect

[2021-01-18 23:13] #70 closed

[2021-01-19 16:01] gregjopa commented on #69
react-paypal-js@4.0.0 has been published to npm which includes TypeScript type definitions! Please upgrade to v4 and let me know your feedback!

[2021-01-19 16:01] #69 closed

[2021-01-19 16:01] #30 closed

[2021-01-19 16:02] gregjopa commented on #70
Hi @sherlaimov-osdb, the `className` prop has been added to every component and is part of the 4.0.0 release. Please give it a try.

[2021-01-19 16:04] gregjopa opened #75 "[Bug] Component props are not documented correctly in Storybook"
### 🐞 Describe the Bug

Currently component props are not listed out correctly in Storybook:
<img width="1352" alt="Screen Shot 2021-01-19 at 10 03 21 AM" src="https://user-images.githubusercontent.com/534034/105060178-b15b7d00-5a3d-11eb-8d83-1046f07587fb.png">

The majority of the props are missing from the table. This is related to upgrading to TypeScript.

[2021-01-19 23:10] #75 closed

[2021-01-19 23:14] gregjopa commented on #72
Hi @RahavLussato I'm not familiar with that error. Are you using a [content security policy](https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP) on your site?

If possible, please share the callback you are using with `createOrder`

[2021-01-20 08:55] RahavLussato commented on #72
hi @gregjopa we are not using CSP and the weird thing is that happens only on windows on OSX it works well.

here is our createOrder callback:
[code]

[2021-01-24 21:20] vladimircherevko opened #76 "[Bug] unexpected token"
### 🐞 Not js syntax

"@paypal/react-paypal-js": "^4.0.0"   in dist\react-paypal.node.js:286  unexpected token :
buttons?.current?.close();
 _______ ^_______ ^

[2021-01-24 21:32] gregjopa commented on #76
Hi @vladimircherevko nice catch! That is indeed a bug. That syntax is a new JS feature called [optional chaining](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining) and I thought it would get transpiled down to ES5 in the dist files. I'll publish a bugfix asap.

[2021-01-24 21:35] #76 closed

[2021-01-24 21:36] vladimircherevko commented on #76
thanks

[2021-01-24 21:58] gregjopa commented on #76
I just published [4.0.1](https://www.npmjs.com/package/@paypal/react-paypal-js/v/4.0.1) to npm which includes the bugfix for this. This should be resolved. Thanks for reporting the issue 😄

[2021-01-26 15:09] pedroapfilho opened #77 "How to re-render the Buttons component when createOrder() function changes"
I'm creating a checkout with the `PayPalButtons`, and I found an interesting bug, that made me realize something... We don't re-render the button if one of its functions changes, meaning that I created the `createOrder` function on the page, and this function depended on the shipping address coming from the context. It's undefined at first, but as soon as it gets re-hydrated, it gets the correct o

[2021-01-26 15:22] gregjopa commented on #77
Hi @pedroapfilho, we added the `forceReRender` prop in this PR: https://github.com/paypal/react-paypal-js/pull/56. This was added to be conservative with our re-render strategy. Here's a storybook example showing how to use `forceReRender` when the amount changes: https://paypal.github.io/react-paypal-js/?path=/story/example-paypalbuttons--dynamic-amount

Unfortunately props that are functions do

[2021-01-26 16:06] pedroapfilho commented on #77
@gregjopa actually, that's why you could ask the developers to use `useCallback` in their functions, this is a common practice in other libraries.

[2021-01-26 21:01] gregjopa commented on #77
The `useCallback` hook is pretty cool. What do you think about using it with `createOrder` and `forceReRender` like so? It's using createOrder with a dynamic amount. I think the same could be applied to a dynamic shippingAddress.

[code]

I know there's the pain of the extra step of assigning the memoized createOrder to `forceReRender` but it seems like a fair compromise.

[2021-01-26 23:02] gregjopa commented on #72
Hi @RahavLussato, your `createOrder` callback function looks fine to me. The error seems like it's coming from the PayPal JS SDK and not from this React component. We are frequently pushing fixes to the different layers of the PayPal Checkout experience so this may have been fixed.

If you are still seeing this error please open up a bug report here in paypal-checkout-components: https://github.co

[2021-01-26 23:02] #72 closed

[2021-01-27 10:35] RahavLussato commented on #72
thanks @gregjopa , i opened it there https://github.com/paypal/paypal-checkout-components/issues/1531

[2021-01-27 12:43] pedroapfilho commented on #77
Sure is! Do we have docs/stories for this use case? It would be nice to have! I can add!

[2021-01-27 16:11] gregjopa commented on #77
@pedroapfilho that would be awesome! It would be great to update this "Dynamic Amounts" story to use `useCallback` like in the above code snippet: https://github.com/paypal/react-paypal-js/blob/main/src/stories/PayPalButtons.stories.js#L52. Would you be up for sending a PR for that?

It would be cool to add a new story for re-rendering when the shippingAddress changes as well.

[2021-01-28 23:50] #77 closed

[2021-01-29 13:41] pedroapfilho commented on #77
I'll create a PR for it this weekend! I have some other use-cases for that too! Like, what should we do when we depend on more than one value? Should how do we create a list of dependencies?

[2021-01-29 13:50] pedroapfilho opened #78 "[Feature] Create a disabled state"
So, right now, the only way to "disable" the button is to make it fail or not show it at all.

It would be good to have an `isDisabled` state, that would disable the button depending on what the user does. For example, when the user doesn't have anything on his cart, or when something is missing on his validation.

[2021-01-29 20:41] gregjopa commented on #78
Hey @pedroapfilho that's an interesting idea. I'm open to adding a new prop for enabling/disabling the buttons.

We do have a way to do form validation with the JS SDK using the onClick and onInit callbacks: https://developer.paypal.com/docs/checkout/integration-features/validation/

But I'm unsure if the pattern translates well into React. A new prop would probably be more convenient for handling

[2021-01-29 21:05] pedroapfilho commented on #78
This enable/disable calls actually make the button disabled? Or does it only disable the onClick?

[2021-01-31 18:47] pedroapfilho commented on #77
@gregjopa What if we make it accept an array of dependencies on the `forceRerender`? So we can pass a list of values there, and if any changes, we re-render it?

[2021-02-03 00:29] gregjopa commented on #77
@pedroapfilho sure that’s a great idea. Would you be up for sending a PR for this?

[2021-02-03 01:36] pedroapfilho commented on #77
Sure! Gonna cook it up this week!

[2021-02-07 16:20] anarerdene opened #81 "Error: Expected an order id to be passed"
Error: Expected an order id to be passed

![image](https://user-images.githubusercontent.com/2210568/107152537-734ddb00-69a3-11eb-8ada-49afc6c5c858.png)

[2021-02-08 08:29] Progressandro commented on #81
Having this same issue, but with subscription_id. Did you find any solution?

[2021-02-08 10:04] anarerdene commented on #81
@Progressandro no. can i see your code ?

[2021-02-11 04:19] malikwas opened #82 "Can't get PayPal balance as a payment method for subscription checkout"
Hey everyone,

We have customers on our site subscribing using PayPal. However, I don't think they're able to use their PayPal balance to complete the checkout and finalize their subscription. On our staging and production setups, we only get options to pay via bank account or credit card:

![Screen Shot 2021-02-10 at 11 10 30 PM](https://user-images.githubusercontent.com/6495327/107601872-ddf6550

[2021-02-11 18:54] gregjopa commented on #78
@pedroapfilho I added a new "disabled" prop to the latest release (`@paypal/react-paypal-js@4.1.0`). Here's a storybook demo: https://paypal.github.io/react-paypal-js/?path=/story/example-paypalbuttons--disabled

I'm going to close this issue out. Let me know if you find any problems with this new feature.

[2021-02-11 18:54] #78 closed

[2021-02-11 19:00] gregjopa commented on #82
Hi @malikwas thanks for using react-paypal-js! This question isn't related to this react library so I'm going to close it out. Please open a new issue over in paypal-checkout-components for checkout flow questions: https://github.com/paypal/paypal-checkout-components/issues/new/choose.

[2021-02-11 19:00] #82 closed

[2021-02-11 19:00] gregjopa commented on #81
Hi @anarerdene thanks for using react-paypal-js! This question isn't related to this react library so I'm going to close it out. Please open a new issue over in paypal-checkout-components for checkout flow questions: https://github.com/paypal/paypal-checkout-components/issues/new/choose.

[2021-02-11 19:00] #81 closed

[2021-02-12 02:14] TrejoCode opened #83 "[FAQ] Where do I find the documentation for 'options'?"
### 🐞 Describe the Bug

PayPalScriptProvider supports 'options', but what are those values? Where do i find them?

In general the solution is great, but it seems that there is too much to work on, it takes a lot of documentation and examples.

[code]

[2021-02-12 03:23] gregjopa commented on #83
Hi @TrejoCode, this library uses paypal-js to load the SDK script. These options are documented here: https://github.com/paypal/paypal-js#passing-arguments

Sorry this was not clear. We should add this to the readme.

[2021-02-15 23:35] gregjopa commented on #83
Thanks for the feedback on this. I updated the readme with more information about setting `options`: https://github.com/paypal/react-paypal-js#paypalscriptprovider.

[2021-02-15 23:35] #83 closed

[2021-02-16 19:24] JELugoM opened #84 "paypal button debit or credit card shows create paypal account, how can hide it?"
Hi, I have been worked on this integration but I have a problem, how can render the paypal button for debit or credit card without show the create paypal account seccion. I just want like the example on your storybook.
![Captura de Pantalla 2021-02-16 a la(s) 1 18 22 p m](https://user-images.githubusercontent.com/30191941/108111307-1fee2380-705a-11eb-9877-f753a3cf469c.png)

But instead of that I g

[2021-02-22 21:06] gregjopa commented on #84
Hi @JELugoM it is not possible to disable that feature in the guest checkout flow in the popup. The inline guest feature is still new and only supported in certain countries. When it's not supported, it falls back to the guest checkout flow in the popup.

[2021-02-22 21:06] #84 closed

[2021-02-24 00:45] dan003400 opened #85 "[Bug] Failed to render <PayPalButtons /> component. Error: zoid destroyed all components"
We are randomly getting this error on page refresh, it's about 50/50 if it works on each page load.

The error message makes no sense nor is it helpful, so we have no idea where to even look to diagnose the issue.

[2021-02-24 13:00] yocmen commented on #85
Can you provide minimal steps to reproduce your component? maybe some codesandbox 😁

[2021-02-24 13:05] dan003400 commented on #85
This is happening a minimal setup using the context provider and the buttons component.

What does this error mean? What causes this error to happen?

Being that it's random, is this a network timing issue?

This issue does not happen with third party packages that manage the loading of your script and rendering of the button, only the official package from PayPal has issues.

We made the switch t

[2021-02-24 13:31] dan003400 commented on #85
Here is another guess.

The script starts to load, something in parent components causes a re-render while the PayPal buttons have started to load but have not completed.

Sounds like people have been getting this error message with PayPal for years, specially when there is two buttons, this makes me believe this has to do with scripts being loaded asynchronously while rendering is also being done

[2021-02-24 13:36] dan003400 commented on #85
Is this related this this?

https://github.com/krakenjs/zoid/pull/335

[2021-02-24 14:14] dan003400 opened #86 "[Feature] usePayPalScriptReducer has isReady value"
When using the isPending value from the contextual hook will cause flashing. This only means the script has been loaded, it does not mean that the actual PayPal button are ready and rendered.

If you have spinners for example using isPended, this will remove the spinner and then render nothing for a second or two, then the buttons will load in, this makes for a terrible screen jogging experience.

[2021-02-24 14:31] dan003400 commented on #86
Using local state combined with onInit callback seems to be too late.

[2021-02-24 15:03] gregjopa commented on #86
Hi @dan003400, have you seen the loading spinner example in storybook? https://paypal.github.io/react-paypal-js/iframe.html?id=example-usepaypalscriptreducer--loading-spinner&viewMode=story. It's using `isPending`. Do you see the same problem with it? Or is it only with your implementation?

After the sdk script is loaded, the buttons should render instantly. If you are not seeing that, please sha

[2021-02-24 15:05] yocmen commented on #86
maybe using isResolved could help

[2021-02-24 15:06] dan003400 commented on #86
Well, I have been forced to ditch this package at the moment being that it doesn't even work properly #85

[2021-02-24 15:07] gregjopa commented on #85
Hi @dan003400, this `zoid destroyed all components` error happens when re-rendering the buttons without closing the existing buttons on the page. Zoid is the iframe component library we use and this error comes from it. It's usually a sign that the implementation code is unexpectedly causing a re-render. Please share an example

[2021-02-24 15:09] dan003400 commented on #85
Im not sure how we can share an example. This is mounted in a large app, what would you need to diagnose this issue.

We have recently memoized the PayPalButtons component and have confirmed it will only render once with logs, and this issue will still happen 3/10 page loads.

[2021-02-24 15:11] dan003400 commented on #85
For some context, this package is working flawlessly with the exact same implementation in the same location.

https://github.com/Luehang/react-paypal-button-v2

[2021-02-24 15:42] yocmen opened #87 "Is it posible to use multiple buttons at the same page?"
Here is an example: [sanboxcode](https://codesandbox.io/s/sad-http-tfnhv?file=/src/PaypalButton.js)

I added 2 buttons (single order and subscription order) but just one works, the dispatch method to reset the options don't look like a good solution in this case,  this is possible? could be nice to have this for some cases.

Thanks.

[2021-02-25 13:17] #86 closed

[2021-02-25 13:17] #85 closed

[2021-02-25 13:22] dan003400 commented on #85
I'm not sure I understand why this has been closed?

[2021-02-25 13:49] catchacourse commented on #85
I'am using
https://github.com/Luehang/react-paypal-button-v2
and encountering exactly the same issue when using more than one dynamically created paypal button.

[2021-03-03 14:58] dan003400 commented on #85
Has this been fixed or ignored via the early close?

[2021-03-03 21:47] fabyeah commented on #77
In the current example, changing the amount will produce the console error `Failed to render <PayPalButtons /> component. Error: Component closed` unless you wait a couple second after each change. I'm using Radio buttons to change the amount and get this quite a lot during normal use.

[2021-03-11 04:52] gregjopa commented on #87
Hi @yocmen, currently the PayPal JS SDK does not support rendering an Orders button and a Subscriptions button on the page page. Each of these button types require different query params and have different eligibility requirements. And the JS SDK is currently designed to only support one script to manage all the components on the page.

I wanted to mention that it is possible to render multiple pa

[2021-03-11 04:52] #87 closed

[2021-03-11 23:00] gregjopa opened #89 "[Feature] Add option to control when the JS SDK script loads"
### 🚀 Feature Proposal

Add the ability to control when the `<PayPalScriptProvider>` loads the JS SDK `<script>`. Currently it loads the JS SDK script as soon as the provider is rendered.

### Motivation

In complex react apps, you may only want to load the JS SDK script under certain conditions.

### Example

My initial thought is to add a new prop to the `<PayPalScriptProvider>` to control this

[2021-03-11 23:11] gregjopa opened #90 "[Feature] Return custom content when the Button is not eligible"
### 🚀 Feature Proposal

When rendering the PayPal Button, we only want to render it when it's eligible. For the use case when it's not eligible, we currently render an empty div element. The internet has enough divs already. Let's render `null` instead by default for this use case.

### Motivation

Avoid rendering unnecessary markup. Also, enable devs to show custom content when the buttons are un

[2021-03-12 16:29] gregjopa commented on #90
I've been thinking more about this and it would be nice to be able to render custom content when ineligible. It could default to returning `null` but also provide a way to render an alert message to the user that the funding source is not supported. Ex:

[code]

This is the same pattern used by several html elements as well for serving up fallback content to users (audio/video/canvas etc.). Ex:

[

[2021-03-12 17:51] gregjopa commented on #89
Here are some other naming ideas for this new prop for `<PayPalScriptProvider> `:
- `lazyLoadScript` - defaults to false.
- `skipLoadScript` - defaults to false.
- `eagerlyLoadScript` - defaults to true.

[2021-03-12 20:03] avocadomayo commented on #89
Hi @gregjopa! Thanks for creating this issue -it's very well thought out 🚀  I'm onboard with adding a prop to `PayPalScriptProvider`. It can be optional.

Semantically, `shouldLoadScript` doesn't tell me a lot in the context of `PayPalScriptProvider`. I like your idea of calling the it `lazyLoadScript`, `skipLoadScript`, or even `deferLoading` (defaults to false).

Re: kicking off the loading, are

[2021-03-12 20:18] avocadomayo commented on #90
Lol. I don't think the internet can recover from divitis

I'm loving this pattern you proposed!

[code]

[2021-03-12 20:56] gregjopa commented on #89
Thanks @avocadomayo! That's great to hear 🥳

Agreed. `deferLoading` is a great suggestion! Let's go with that.

Yes I think we should support both.

### Usage of `deferLoading={false}`

Another thing to mention is we recommend loading the JS SDK earlier in the user flow on a page preceding the checkout page in order to render the Buttons as fast as possible. So waiting to load the script until the

[2021-03-12 21:02] gregjopa commented on #90
@avocadomayo thanks for the positive feedback! I'll work on adding this feature.

[2021-03-16 16:40] avocadomayo commented on #89
@gregjopa thank you for all the pointers- awesome that you're thinking about user empathy and providing the best UX for buyers.

My team and I have been learning best SDK practices from `react-paypal-js` and it's been very informative. For example, there isn't documentation on `Buttons().close()` and we learned about it from the work that was done here. Also, personally I haven't made use of the r

[2021-03-17 14:24] bhavikagrawal opened #92 "[Bug] Failed to execute 'postMessage' on 'DOMWindow'"
### 🐞 Describe the Bug

Failed to execute 'postMessage' on 'DOMWindow': The target origin provided does not match the recipient window's origin ('https://www.sandbox.paypal.com').

Same is working on localhost.

### 🔬 Minimal Reproduction

1) add product to cart
2) add to cart and go to cart page
3) Paypal button is not loading correctly. Errors logged in console.

### 😕 Actual Behavior

PayPal sc

[2021-03-17 20:47] gregjopa commented on #92
Hi @bhavikagrawal it's great to hear you are using react-paypal-js!

I took a look at your [dev site](https://www-development.aws.searspartsdirect.com/) and noticed your web server is setting the http response header `X-Frame-Options: SAMEORIGIN`. I think this header will block the paypal button from working since we depend on being able to serve up code from www.paypal.com/www.sandbox.paypal.com

[2021-03-18 07:22] bhavikagrawal commented on #92
@gregjopa Can you please delete the issue permanently from repository. Or remove the hyperlink to our dev site.

[2021-03-18 12:06] RishikeshDarandale commented on #92
@gregjopa, a basic question here: Why paypal wants to `iFrame` client application? I think, it should be the other way. correct?

[2021-03-18 20:43] gregjopa commented on #92
Hi @bhavikagrawal, I removed the hyperlink to your dev site.

@RishikeshDarandale we use iframes for a number of reasons. It's a guaranteed way to sandbox our 3rd party code. The PayPal JS SDK use [Zoid](https://github.com/krakenjs/zoid) for managing the iframe abstraction with components and this react library is just making it easier to use the JS SDK in react land. You can read more about the b

[2021-03-18 20:43] #92 closed

[2021-03-19 11:57] bhavikagrawal commented on #92
@gregjopa I have tried removing the header, but it did not worked.

When i disabled `adobedtm` script from running on website, it started working. What could be a possible conflict because of other external script.

[2021-03-20 03:30] fuxxingbunny commented on #90
Currency does not work ??

[code]

[2021-03-20 03:31] fuxxingbunny opened #93 "[ASK] purchase_unit currency"
Currency does not work ??

[code]

[2021-03-20 15:15] getTobiasNielsen commented on #49
Hey @gregjopa

Thank you for your great work for react community.

Reading through this issue, it looks like the data is being pulled from a environment variable, that looks wrong to me, after reading the API.
E.g.

The API appears to require a new client_token per time the component gets loaded, a token that has to be generated with the access_token, one acquires with the API credentials.
![tip](

[2021-03-20 19:58] gregjopa commented on #92
Hi @bhavikagrawal, I'm not sure why Adobe DTM is conflicting with the PayPal JS SDK. Adobe DTM typically loads a bunch of 3rd party tags on websites so it could be one of those 3rd party scripts that's conflicting. I doubt this issue is related to this react library. Can you try creating a minimal reproduction that does not use React and instead uses the PayPal JS SDK and Adobe DTM directly? Pleas

[2021-03-20 22:23] gregjopa commented on #49
Hi @getTobiasNielsen, I think an environment variable was just an example. The key thing is this is a sensitive runtime value that you should not check into version control with your client-side code.

The docs mention that this client token is buyer specific. So you will need a new value every time you show the hosted fields component to a buyer. The more I think about it, adding a `<PayPalHosted

[2021-03-20 22:26] gregjopa commented on #93
Hi @fuxxingbunny, you need to pass currency in two places:
1. as a query parameter when loading the JS SDK
2. to the createOrder api call (`actions.order.create`)

Here's the currency storybook currency example: https://paypal.github.io/react-paypal-js/?path=/story/example-usepaypalscriptreducer--currency

[2021-03-20 22:26] #93 closed

[2021-03-20 23:13] getTobiasNielsen commented on #49
@gregjopa  Thank you for the speedy answer!

Passing the `data-client-token` seems to be working. Nice catch with the dispatch, I wasn't aware of how this library worked, but I see `usePayPalScriptReducer` has a lot of use.

I'll return once I've had a chance to look at the hosted fields.

Thanks again!

[2021-03-21 14:32] getTobiasNielsen commented on #49
@gregjopa `window.paypal.HostedFields.isEligible()` seems to return `true` now.

It appears isResolved isn't defined in options, but can be grabbed on its own from `usePayPalScriptReducer`, like in your original example.

I was thinking about what you said about a `<PayPalHostedFields>`. I'd love to get involved in that, do you have any initial thought about how you would want it to look?

I was c

[2021-03-21 23:34] #90 closed

[2021-03-22 15:19] gregjopa commented on #49
Hi @getTobiasNielsen, it's good to hear your got Hosted Fields working! 🎉

Whoops, my mistake. It's not defined in the options (those are just for the params/attributes passed to the JS SDK script). I fixed it in the code snippet above.

I like that idea! I would like to keep the `<PayPalHostedFields>` as light weight as possible. Supporting custom content as `props.children` seems like a good ide

[2021-03-23 23:58] getTobiasNielsen commented on #49
I'll make a prototype.

From my initial search, I see that the JS SDK doesn't have types for hosted-fields, so will see what I end up with.

[2021-03-24 13:59] getTobiasNielsen commented on #49
A lot of the types are missing, would need to implement those, either in the file or in their respective places.

This is an initial prototype.

I was thinking it could be smart to add one of the default spinners I've seen paypal use, or if people don't like it, let people add a prop with a spinner element or some custom react component, if they fancy that instead.

[2021-03-26 13:13] pedroapfilho opened #96 "[Bug] Currency change not reliable"
### 🐞 Describe the Bug

It seems that if you add the `dispatch` on the `useEffect` to change the currency, and it triggers 2 times fastly, it doesn't get the correct currency reliably.

### 🔬 Minimal Reproduction

We have a context, and we have a `defaultCurrency`, and a `selectedCurrency`, that is loaded from the server, so it initializes as `GBP` (default currency), and then fastly goes to `EUR`

[2021-03-26 14:01] gregjopa commented on #96
Hi @pedroapfilho can you provide a full example of the problem? Perhaps you can update the Storybook Currency example to demostrate the issue: https://paypal.github.io/react-paypal-js/iframe.html?id=example-usepaypalscriptreducer--currency&viewMode=story.

[2021-03-26 14:11] gregjopa commented on #96
The other thing that comes to mind is to add a check to make sure the script is finished loading before dispatching the `resetOptions` action. I'm wondering if the problem is the script is still loading when you try to dispatch this event so it doesn't get picked up properly because of this code: https://github.com/paypal/react-paypal-js/blob/main/src/ScriptContext.tsx#L101

If so, adding this che

[2021-03-27 18:45] pedroapfilho commented on #96
Hello @gregjopa sorry for not providing the example right away, I was in the middle of the investigation, and just thought about it.

What we actually could do is say to the users to:

[code]

[2021-03-27 18:51] pedroapfilho commented on #96
I'll create an example on the storybook today, stay tuned for the PR.

[2021-03-27 19:06] gregjopa commented on #96
Do you think this feature request would help your use case with setting currency later on after defining the Script Provider? https://github.com/paypal/react-paypal-js/issues/89.

[2021-03-29 10:43] pedroapfilho commented on #96
Yes and no.

It could help if we wanted to lazy load the component until we have the currency figured out, or we can basically trigger it after `isResolved`, just like you added on your comment.

[2021-03-29 11:01] pedroapfilho opened #98 "[Feature] forceRerender as an array"
Right now we have only one property on the `forceRerender` prop, I had to add my `createOrder` function to it, which is an `useCallback` function, and it respects the array of properties of it to force the rerender.

I think we can make it more readable/reliable if we make the `forceRerender` be an array, so we can pass as many properties to it as we want, and it would be very easy to implement.

[2021-03-29 11:41] gregjopa commented on #98
Hey @pedroapfilho, sure I'm open to adding this feature with turning the `forceRerender` prop into an array. Right now we expect this prop to be a primitive value so it would be a breaking change. Would you be up for sending a PR for adding this feature?

[2021-03-30 14:20] pedroapfilho commented on #98
I would! This change is very simple! I'll do it today at night!

[2021-03-30 19:28] bruno-silva5 opened #99 "[Bug] onError() not being called in Inline card form"
### 🐞 Describe the Bug

Can't handle error when there is invalid data in the form. If the user insert invalid data, like an postal code = "111111111111111111", it just shows a message in console and "onError()" is not called, if I try to .catch() in my API calls to server-side when capturing, does not work too.

### 🔬 Minimal Reproduction

In the card form, insert a zip code like: "111111111111111

[2021-04-02 02:29] #96 closed

[2021-04-02 02:50] gregjopa commented on #99
Hi @bruno-silva5 thanks for reporting. This is an issue with the JS SDK and not this react library so let's track this issue here instead: https://github.com/paypal/paypal-checkout-components/issues/1550. I'll work with the right folks at PayPal to get this fixed.

[2021-04-02 02:50] #99 closed

[2021-04-05 16:18] #89 closed

[2021-04-05 16:43] gregjopa commented on #89
@avocadomayo thanks for helping design this feature! It's included in the 5.2.0 release and it's documented here: https://github.com/paypal/react-paypal-js#deferloading.

Also, thanks for your kind words about this project 😄 💯

[2021-04-05 17:22] Salaahuddiin opened #103 "[Bug] Error: usePayPalScriptReducer must be used within a PayPalScriptProvider"
### 🐞 Describe the Bug

`Unhandled Runtime Error
Error: usePayPalScriptReducer must be used within a PayPalScriptProvider`

### 🔬 Minimal Reproduction

(settings: react / nextjs)

I simply add the context in _app.js :
`        <PayPalScriptProvider options={{ 'client-id': 'test' }}>
          <Page>
            <Component {...pageProps} />
          </Page>
        </PayPalScriptProvider>`

I add

[2021-04-05 17:32] gregjopa commented on #103
Hey @Salaahuddiin this error usually happens when trying to render the `<PayPalButtons />` component (or any other sdk component) outside of the `<PayPalScriptProvider />`.

Can you share a full reproduction of the problem? Perhaps you can create an example github repo or use codesandbox.io.

[2021-04-06 12:55] pedroapfilho opened #104 "[Bug] Error: Window closed before response"
This bug is understandable when we implement the script tag directly, but using it as a react app, it's just weird. If a user closes the tab before PayPal receives some action back, it throws this error.

It wouldn't be a problem for small projects, but for big ones, it's a nightmare and doesn't provide any benefit (in my point of view).

Wouldn't it be a good idea to remove it?

[2021-04-06 13:01] gregjopa commented on #104
@pedroapfilho can you provide a reproduction of this error with the latest version of this library? We recently added error handling where I wouldn’t expect this error to show anymore.

[2021-04-06 13:13] #98 closed

[2021-04-06 16:03] pedroapfilho commented on #104
Alright, I'll update the code to the latest, and see if it continues. If not, I'll close this issue! Thanks!

[2021-04-09 11:58] gregjopa commented on #103
Hi @Salaahuddiin I'm going to close this out. Please reopen with a reproduction if this is still a problem.

[2021-04-09 11:58] #103 closed

[2021-04-11 21:44] lavan350 opened #105 "[Bug] Checkout button not appearing"
### 🐞 Describe the Bug

Hello,

I'm writing this message because I'm trying to set up a payment processing via Paypal. Unfortunately, I wanted to use your library but I can't.

When I put my button in my form, it is displayed once but the next time I reload the page, it is not displayed at all as a button in the form. And nowhere else.

However, I think I have followed the README that you propose.

[2021-04-12 20:16] gregjopa commented on #104
I'm going to close this one out. @pedroapfilho please reopen if you still see this issue after upgrading.

[2021-04-12 20:16] #104 closed

[2021-04-12 20:35] gregjopa commented on #105
Hi @lavan350 can you please share a reproduction? Perhaps you can create a github repo with an example of the problem.

I'm not able to see any helpful information from your screenshot. Are you seeing errors in your dev console?

[2021-04-14 10:04] SurgeS commented on #105
I came across the same problem, but couldn't reproduce it in an example repo. Nothing in the console, only one cancelled request in the network tab that @lavan350 already provided.

The problem in my case was that we were not using the `PayPalScriptProvider` at the root of our app but deeper in the hierarchy. So I suppose that may have messed up the initialization somehow.  It would be nice to hav

[2021-04-15 14:18] gregjopa commented on #105
Thanks for more details @SurgeS. If you can create a reproduction, I'm happy to dive in to try and figure out what's going on. I know it can be tricky to create a reproduction from a large closed source React app. Is there anything specific you can share about your react implementation? For example, is it using CRA, React router, and/or Next.js?

We have the PayPalScriptProvider documented in the

[2021-04-15 16:37] multiwebinc opened #106 "[Bug] Errors on upgrading to 6.0.0"
Everything was working fine in version 5.0.1, but after upgrading to 6.0.0, I get the following errors:

![image](https://user-images.githubusercontent.com/901732/114903787-60f18280-9dd4-11eb-8622-dd3cd04295f6.png)

### 🔬 Minimal Reproduction

https://codesandbox.io/s/ecstatic-dhawan-hh4y3?file=/src/App.js

[2021-04-15 16:48] multiwebinc commented on #106
Nevermind. I didn't see the [changelog](https://github.com/paypal/react-paypal-js/blob/main/CHANGELOG.md).

[2021-04-15 16:48] #106 closed

[2021-04-19 17:52] mismosmi opened #107 "PayPalButtonsComponentProps have been renamed"
Hi,

your PayPalButtons-Component uses the type `PayPalButtonsComponentProps` from https://github.com/paypal/paypal-js/blob/main/types/components/buttons.d.ts

That Type has been renamed to `PayPalButtonComponentOptions` in @paypal/paypal-js@3.1.7.

Please update the imported name. Typescript throws a cryptic error on this after `npm update`-ing the dependency.

Best,
Michel

[2021-04-19 17:55] gregjopa commented on #107
Hi @mismosmi are you using react-paypal-js@6? I thought I updated all the type references. Please let me know which version you are testing with.

[2021-04-19 17:58] mismosmi commented on #107
Ouh, sorry, my bad!

[2021-04-19 18:11] gregjopa commented on #107
No worries. Let me know if you run into any issues with version 6.

[2021-05-03 05:08] bggolding opened #108 "Accessing types from Typescript"
I can’t seem to import some of the types used internally in the react-paypal-js definitions and I can’t seem to work out why. What I would like to do is:
[code]
No amount of kicking and goading seems to want to let me to import type definitions for `OnApproveData`, `OnApproveActions` or `CaptureOrderResponseBody` even though I can see them in the .d.ts files and they seem to be exported. Is there

[2021-05-03 05:19] bggolding commented on #108
I finally got something to build using:
[code]
That looks arcane and brittle though, relying on the internal structure of the package not changing. Is there a better way?

[2021-05-05 17:22] gregjopa opened #109 "[Bug] PreRender Button Clicks open many popup windows"
### 🐞 Describe the Bug

When the buttons first render, clicking on them many times will result in several popup windows opening. The issue seems to go away after second render is complete. The problem is more noticeable on a slower internet connection.

<img width="1755" alt="react-prereder-many-popups-bug" src="https://user-images.githubusercontent.com/534034/117182691-4b042b80-ad9c-11eb-9480-7b0

[2021-05-10 18:31] LuizGMX opened #110 "How to add installments option?"
How do I add installments options?

[2021-05-13 09:32] ValentinH opened #112 "[Bug] TS definition for dispatch "setLoadingStatus" is incorrect"
### 🐞 Describe the Bug

When following the documentation for "Defer loading" and implementing the example code in Typescript, I get a type error on the action value:
![image](https://user-images.githubusercontent.com/2678610/118107344-eae63880-b3de-11eb-9487-d0f2454c059a.png)

### 🔬 Minimal Reproduction

See this sandbox: https://codesandbox.io/s/react-paypal-serloadingstatus-mdkux?file=/src/Paypa

[2021-05-13 09:45] ValentinH commented on #108
Just faced the same and had to additionally install `@paypal/paypal-js` just to get the types.

It would be great if this package would re-export all required types at the index level like it's done for `FUNDING`.

[2021-05-13 15:32] assainov commented on #87
@gregjopa what's the best practice to have Capture buttons and subscription buttons on the same page? Should we just re-render the `PayPalScriptProvider` with new options?

[2021-05-13 19:13] leogedler commented on #109
@gregjopa I found that this problem is coming from: https://github.com/paypal/paypal-checkout-components/blob/master/src/zoid/buttons/prerender.jsx#L36

I have created a PR with a solution: https://github.com/paypal/paypal-checkout-components/pull/1635

[2021-05-14 02:37] #49 closed

[2021-05-15 22:22] ChrisChross opened #114 "[Feature] Feature request: Return value"
### 🚀 Feature Proposal

Hey guys, first of all thanks for creating this.
It's still active right?

### Motivation

I wanted to know if it's possible to receive a return value after the button was pushed
and the order created (sucessfully or not). So I would like to get a response code back
to the react app. Do you guys thinks thats possible somehow?

### Example
const return_value = 0

    return

[2021-05-16 19:17] gregjopa commented on #114
Hi @ChrisChross, the `createOrder`, `createSubscription`, and `onApprove` props are callbacks that return promises. So you can add a `then` or `catch` to implement more logic around them. For example, the `createSubscription` callback gets called on button click so you can use that. Ex:

[code]

[2021-05-16 19:20] gregjopa commented on #110
Hi @LuizGMX, we have a subscriptions example here: https://paypal.github.io/react-paypal-js/?path=/docs/example-subscriptions--default. And here are details on how to setup subscriptions: https://developer.paypal.com/docs/subscriptions/integrate/

[2021-05-16 19:20] #110 closed

[2021-05-16 19:23] #114 closed

[2021-05-16 19:35] gregjopa commented on #112
Hi @ValentinH, thanks for letting us know about this bug. It's been fixed in #113 and included in the 6.0.1 release.

[2021-05-16 19:35] #112 closed

[2021-05-16 19:41] gregjopa commented on #108
Installing paypal-js is the current way to get all the TypeScript types (https://github.com/paypal/paypal-js#typescript-support).

@bggolding I updated paypal-js to export `Payer` and it's included in the paypal-js@3.1.10 release.

@ValentinH I'm open to this idea and would gladly accept a PR. I think we would need some way to namespace/group the types when re-exporting 🤔

[2021-05-16 19:46] ValentinH commented on #108
I'll try to have a look tomorrow then 👍

[2021-05-17 09:08] ValentinH commented on #108
I just had a look and I'm not sure how to handle namespacing 🤔

[2021-05-21 14:28] gregjopa commented on #109
Thanks for your help with this @leogedler! I verified that this bug has been fixed in production with the JS SDK 5.0.230 release.

[2021-05-21 14:28] #109 closed

[2021-05-31 07:57] HeikoMueller opened #115 "[Bug] Authentication Error on 2nd Attempt"
🐞 Describe the Bug
I use Smart Button in React/NextJs for creating subscriptions. Everything works as expected, but if the user closes the Paypal popup window after having logged in already (OrderId created, onShippingChangeData called), and then attempts by clicking the Paypal button for a second time, I see the following error:

Uncaught Error: Create Subscription Api response error:
{
"name": "

[2021-05-31 13:04] HeikoMueller commented on #115
Just in case anyone else is facing this issue: I finally got this solved by adding the following to onCancel

dispatch({
          type: "resetOptions",
          value: {
              ...options,
              "data-order-id": data.orderID,
},

[2021-05-31 19:20] #115 closed

[2021-06-03 21:34] gregjopa opened #116 "[Feature] Use TypeScript for Storybook Examples"
### 🚀 Feature Proposal

Currently the Storybook examples are in JavaScript. Let's migrate them over to TypeScript files! It will be a good way to ensure the StoryBook examples are type safe.

### Motivation

Let's go all in on TypeScript!

[2021-06-04 21:54] #105 closed

[2021-06-06 22:11] johan123312321 commented on #115
I have exactly the same issue (both on production and sandbox environments).  Update to the last (7.0.0) version doesn't resolve the problem.

[2021-06-06 22:22] johan123312321 opened #117 "[Bug] Authentication Error on 2nd Attempt"
### 🐞 Describe the Bug

Please see https://github.com/paypal/react-paypal-js/issues/115#issue-907204348
I have exactly the same issue.

### 🌍 Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| react-paypal-js  | 7.0.0
| Browser          | chromium
| Operating System | Ubuntu 18.04

[2021-06-07 22:34] johan123312321 commented on #117
UPD: Probably issue is not in the **paypal-checkout-components** library.
There is registered the same issue: https://github.com/paypal/paypal-checkout-components/issues/1662#issue-913795190

[2021-06-08 08:48] shehzi-khan opened #118 "Explain how to make an async post before transaction and after success"
I used PayPalButton as recommended in the documentation.
However, I have two tasks to perform.

1. Make an async Post call to our own server API  ("api/payements") to create an order in our DB and waits for the response. I use await keyword to wait for the promise to resolved.
2. Makes another aysnc post call to our own server API ("api/confirm") to update the transaction status and reciept ID fro

[2021-06-08 12:05] johan123312321 commented on #118
Hi, @shehzi-khan!
Try this:

[code]

[2021-06-08 23:11] avi312singh opened #119 "shippingPreference: "NO_SHIPPING""
Does passing shippingPreference: "NO_SHIPPING" not work? This functionality is in third party libs but doesn't seem to be here...
`<PayPalScriptProvider options={{ "client-id": clientId, currency: "GBP", "disable-funding": "sofort", shippingPreference: "NO_SHIPPING" }}>`
Doesn't seem to have any effect at the checkout page as it still shows the delivery address
![image](https://user-images.githubu

[2021-06-09 04:28] shehzi-khan commented on #118
I recieved following error on the line, custom_id:resOrder['id']
TypeScript error: Object is possibly 'undefined'.  TS2532

[2021-06-09 04:37] shehzi-khan commented on #118
Also in the post request in onApproveOrder, the recieptId should be the PayPal transaction ID, and the id in the confirm API URL should be the "order ID" received in the response of registerOrder.

[2021-06-09 04:37] shehzi-khan commented on #118
Appreciate your help by the way. :)

[2021-06-09 04:54] shehzi-khan commented on #118
- ok I changed `resOrder['id']` to `resOrder?.data.id` and tried to `console.log(resOrder?.data.id)` displays the correct orderID.
- Now I changed `custom_id` in `purchase_units` from `resOrder['id']` to `resOrder?.data.id`
- `console.log(captured['id']);` displays the correct transaction ID recieved from PayPal.

:( :(
- However `console.log(captured['custom_id']);` prints "undefined" :(

[2021-06-09 10:01] avi312singh commented on #119
After digging through the source code you can supply many options.. I was able to set no shipping address like this:
[code]

[2021-06-09 10:01] #119 closed

[2021-06-09 21:56] johan123312321 commented on #118
Hi @shehzi-khan!

Regarding this `I recieved following error on the line, custom_id:resOrder['id']
TypeScript error: Object is possibly 'undefined'. TS2532`
Ofc there will be error, because I don't know your data structures. I just given to you direction where to go.

Regarding this:

Put `console.log(captured);` and explore `captured` structure in the console. Probably 'custom_id' is in some nest

[2021-06-12 09:58] MitchelSt opened #120 "Creating and capturing orders on server flow"
I haven't found any examples for the flow of creating and capturing orders on the server in conjunction with this library.

Currently, I've two functions on my server:

1. Create Order: fetches orderId from PayPal => responds with orderId
2. Capture Order: captures the order from PayPal => responds whether the capture status was successful or not

I'll assume that in this case I will need to use b

[2021-06-12 10:16] #120 closed

[2021-06-17 07:30] kolber opened #122 "HTTPS loading issue on Safari"
On my current version of Desktop Safari (`Version 14.1.1 (15611.2.7.1.6, 15611)`) on OSX (`macOS 10.15.7 (19H1217)`) the PayPal buttons are hanging the browser for a noticeable amount of time (between 2-4 seconds) when loading the library.

This is especially noticeable as we are using dynamic amounts, so it will also hang every time we run a `forceReRender`.

Interestingly this only seems to happ

[2021-06-17 14:33] gregjopa commented on #122
Hi @kolber thanks for the report. Does this same issue in safari happen on this demo site? https://developer.paypal.com/demo/checkout/#/pattern/client. This site does not use this react library.

I’d like to figure out if the issue is specific to this react library or if it’s an issue with the PayPal JS SDK.

[2021-06-17 14:33] #117 closed

[2021-06-18 00:23] kolber commented on #122
Ahh good thinking @gregjopa. I can verify the same issue occurs here:
https://www.paypal.com/buttons/smart?flowloggingId=7d521d04dae80

So it doesn't look like the React library directly!

[2021-06-18 00:29] kolber commented on #122
I'm guessing I should direct my bug report elsewhere, do you know where the best place would be?

[2021-06-18 13:16] gregjopa commented on #122
@kolber Thanks for testing it on the other websites. Please open an issue for the JS SDK team here and then the right folks will get notified: https://github.com/paypal/paypal-checkout-components/issues.

[2021-06-18 13:16] #122 closed

[2021-06-23 21:32] hermanskurichin opened #123 "[Bug] script option 'disable-funding' not working"
### 🐞 Describe the Bug

Passing script option 'disable-funding' has no effect.

### 🔬 Minimal Reproduction

[code]

### 😕 Actual Behavior

Paypal checkout opens with option to use paypal account OR pay by debit/credit card.

### 🤔 Expected Behavior

Paypal checkout opens with only paypal username/password form as a payment option.  Alternative/Anonymous payments are not offered

### 🌍 Environment

[2021-06-27 21:53] gregjopa commented on #123
Hi @hermanskurichin the `'disable-funding': 'credit,card',` option controls what buttons are rendered. It does not control if the "Pay with Debit or Credit Card" option is shown in the popup.

[2021-06-27 21:53] #123 closed

[2021-06-27 21:58] gregjopa commented on #118
@johan123312321 thanks answering @shehzi-khan's questions and for providing a server-side example in https://github.com/paypal/react-paypal-js/issues/118#issuecomment-856705827 💯🥇👍

We also provide this example for server-side integrations:
- https://developer.paypal.com/demo/checkout/#/pattern/server
- https://github.com/paypal/paypal-checkout-demo/tree/master/src/app/server

[2021-06-27 21:58] #118 closed

[2021-06-27 22:03] gregjopa commented on #108
@ValentinH thanks for having a look. I'm not sure how to better solve so lets stick with importing in the types from paypal-js.

Any changes to the folder structure of the types would be a major version bump of paypal-js since it would be a breaking change.

[2021-06-27 22:03] #108 closed

[2021-06-29 01:38] patrickliang opened #124 "[Feature] Paypal Donate button"
### 🚀 Feature Proposal

Does this library support [Paypal Donate button](https://www.paypal.com/donate/buttons)?

### Motivation

For non-profit organizations, they take donations instead of actually selling products or services, and Paypal has that Donate button option.

[2021-06-30 08:36] hermanskurichin commented on #123
@gabrielo91 Thank you for your reply.

Can we control payment options offered in the pop-up, we are only interested in subscribing **payer** accounts.

[2021-07-02 07:53] geigerzaehler opened #125 "TypeScript declaration files don’t type check"
### 🐞 Describe the Bug

The TypeScript declaration files don’t type check when [`skipLibCheck`](https://www.typescriptlang.org/tsconfig#skipLibCheck) is set to `false`.

### 🔬 Minimal Reproduction

[code]

### 😕 Actual Behavior

Typescript shows the following error

[code]
### 🤔 Expected Behavior

Typescript should not show any errors

### 🌍 Environment

* @paypal/react-paypal-js@7.1.0
* typescrip

[2021-07-02 17:06] webstartapp opened #126 "[Question] How to use TypeScript types for the PayPalButtons component props"
### 🐞 Describe the Bug

pay pal buttons element doesn't accept style and createOrder as parameter

### 🔬 Minimal Reproduction

only install the plugin from `npm install @paypal/react-paypal-js`
and apply the element like this:
[code]

### 😕 Actual Behavior

in typescript appears error message as follow
[code]

### 🤔 Expected Behavior

there should be no error message in typescript

### 🌍 Environme

[2021-07-05 20:36] #116 closed

[2021-07-05 21:16] gregjopa commented on #126
Hi @webstartapp, you can import the button component props directly from this library: https://github.com/paypal/react-paypal-js/blob/main/src/components/PayPalButtons.tsx#L16.

Try this:

[code]

[2021-07-05 21:17] gregjopa commented on #126
Also, here's an example of how you can get the types for the `createOrder` callback arguments: https://github.com/paypal/react-paypal-js/blob/main/src/stories/PayPalButtons.stories.tsx#L73-L76

[2021-07-05 21:24] gregjopa commented on #125
Hey @geigerzaehler thanks for letting us know about this type bug.

We are automatically generating the TypeScript declarations for this library: https://github.com/paypal/react-paypal-js/blob/main/tsconfig.json#L3. And that process doesn't seem to automatically include the type declarations for this "@paypal/sdk-constants/dist/module" dependency (https://github.com/paypal/react-paypal-js/blob/mai

[2021-07-08 13:59] rever96 opened #128 "[Question] How to log into sandbox environment"
### 🐞 Describe the Bug

The login with paypal doesn't works

### 🔬 Minimal Reproduction

1. npm install @paypal/react-paypal-js
2. copy code:
[code]
3. replace my sandbox client id
4. npm start
5. click button paypal, using correct credentials results in "Some data are incorrects. Try again"

### 🌍 Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| react-paypal-js

[2021-07-08 14:15] gregjopa commented on #128
Hi @rever96 it looks like you are trying to log into PayPal with a production account when using a sandbox client id. When using a sandbox client id you need to login with a sandbox user. Log into https://developer.paypal.com/ and you should see a couple sandbox accounts that you can log in and test with. Here's a screenshot of that page:

<img width="1167" alt="sandbox-accounts-screenshot" src="h

[2021-07-08 14:32] rever96 commented on #128
I've followed this docs: https://developer.paypal.com/docs/api/overview/#get-credentials

![2021-07-08 16_30_31-Impostazioni](https://user-images.githubusercontent.com/19595534/124939983-df437680-e009-11eb-8146-410a9a27ead5.png)

is it correct?

I still have the problem

[2021-07-08 15:00] rever96 commented on #128
Maybe because I didn't set up any `data-client-token`?

[2021-07-08 15:10] rever96 commented on #128
The requests gives back 200 status

![2021-07-08 17_08_39-](https://user-images.githubusercontent.com/19595534/124946524-634c2d00-e00f-11eb-8e3a-9917c9d5a047.png)

[2021-07-08 15:54] rever96 commented on #128
I have this problem in the storybook too.
https://paypal.github.io/react-paypal-js/?path=/docs/example-paypalbuttons--default

[2021-07-10 12:27] TrejoCode commented on #124
Please

[2021-07-11 12:47] #125 closed

[2021-07-11 21:17] #124 closed

[2021-07-11 21:21] gregjopa commented on #124
I'm happy to share that we just added support to the PayPal JS SDK for donations. Here's an example: https://paypal.github.io/react-paypal-js/?path=/story/example-paypalbuttons--donate

[2021-07-12 18:30] gregjopa commented on #128
Hi @rever96 it sounds like your questions are about how to use the PayPal sandbox environment. I recommend reaching out to paypal support for help: https://developer.paypal.com/support/.

This issue is unrelated to this react library so I'm going to close it out.

[2021-07-12 18:30] #128 closed

[2021-07-12 18:31] gregjopa commented on #128
Hi @rever96 it sounds like your questions are about how to use the PayPal sandbox environment. I recommend reaching out to paypal support for help: https://developer.paypal.com/support/.

This issue is unrelated to this react library so I'm going to close it out.

[2021-07-12 18:32] gregjopa commented on #126
Hi @webstartapp I'm going to close this out. Let me know if you are still having issues with the types and we can re-open.

[2021-07-12 18:32] #126 closed

[2021-07-15 19:48] rick427 opened #133 "Client id is not been sent"
Hi, i just installed this library, followed the instructions and steps listed in the documentation, but discovered that the Paypal script was not loading. I kept getting a 400 response. Upon inspecting the network, i found out that the client-id was not been sent as a query param, even though am passing it in Provider component. What do i do pls ?.

[2021-07-15 20:50] gregjopa commented on #133
Hi @rick427, the `client-id` is kebab-case. Does this example work for you?

[code]

[2021-07-16 10:12] rick427 commented on #133
Nah didn't work, but I got it to work. Lemme explain how I did it. So the docs said "**Place <PayPalScriptProvider/> at the root of your app**" and I did just that. However the root of my app is where I declared my routes using react router dom. So i did something like so:

[code]

This led to the options not been passed to the PayPal script hence the 400 error. Probably has to with context. So I

[2021-07-16 10:18] #133 closed

[2021-07-28 15:54] solangeDev opened #134 "Error paypal sdk “react-paypal-js” and cypress"
I have at error with cypress and paypal sdk "react-paypal-js" when I'm doing click in the paypal button I have the next error

"TypeError: o.removeEventListener is not a function" "Uncaught TypeError: Cannot read property 'stack' of null"

can it be integrated with cypress?
what would be the correct way to do it?

[2021-07-28 16:30] gregjopa commented on #134
Hi @solangeDev, the PayPal JS SDK relies on using iframes. Cypress does not play nice with iframes and it looks like there's additional work to get it setup: https://www.cypress.io/blog/2020/02/12/working-with-iframes-in-cypress/. Could you try using Cypress with this demo page? https://developer.paypal.com/demo/checkout/. That will help us figure out if its a problem with this react library or th

[2021-07-28 19:58] solangeDev commented on #134
Hi thanks!! I open the PayPal pop-up window, how can I access to log in? Is it possible to do this?. This window does not appear to be inside an iframe.
this is the test, it is working, but it just pulls up the pop up and it has no iframe:
import i18n from '@/lib/i18n';
import users from '@/cypress/fixtures/common/users';

const getIframeDocument = () => {
  return cy
  .get('[data-cy=invoice-btn-

[2021-07-29 14:39] cadehammond opened #136 "[Bug] Invalid "Expiry" date format"
### 🐞 Describe the Bug

When using PayPal's HostedFields and configuring the display of those fields to include an `expirationYear` and `expirationMonth` as `<select>` elements (rather than `expirationDate`), users encounter a 400 response if they do not change the `expirationMonth` field from its default value. This is because it is being transmitted in the format `"expiry":"2021-7"` rather than

[2021-07-30 06:16] juddbaguio opened #137 "'data-order-id' option is not working"
### 🐞 Describe the Bug

PayPalButton redirects me to the default order page which costs '.01' instead of the right amount created from server-side.

### 🔬 Minimal Reproduction

Just set 'data-order-id' on the PayPalScriptProvider

### 😕 Actual Behavior

Sent me the default checkout page which costs '.01

### 🤔 Expected Behavior

Should asked for "right" amount instead of '0.01'.

### 🌍 Environment

[2021-07-30 19:48] gregjopa commented on #137
Hi @juddbaguio can you share a code example?

Ideally this should work since with accept `data-order-id` as a data attribute for integrations creating the order on the server-side: https://developer.paypal.com/docs/checkout/reference/customize-sdk/#order-id.

Note that you also need to return this same order id in your `createOrder()` callback. Otherwise it won't use it and it will make the defaul

[2021-07-30 20:02] gregjopa commented on #136
Hi @cadehammond can you share your hosted fields integration code? I'd like to reproduce the problem to better troubleshoot.

[2021-07-30 23:05] cadehammond commented on #136
Hi @gregjopa thank you for your response!

With this being a work project (and one that is not yet available on an outside server) I can't share a demo or the source code right now. My work is based on [PayPal SDK Docs](https://developer.paypal.com/docs/business/javascript-sdk/javascript-sdk-reference/#hosted-fields) and I found this [reference](https://developer.paypal.com/braintree/docs/guides/h

[2021-08-05 15:45] cadehammond commented on #136
Hello again @gregjopa .

Just wanted to give a quick update. We attempted to use the standard text `<input>` rather than `<select>` to see if it would help. When using separate inputs for Month and Year, a user could type `7` (no leading `0`) and this would cause the same 400 error. The field is still reported as `isValid: true` in the field's state, so we have no indication that a `0` is "require

[2021-08-24 06:56] gytisgreitai opened #142 "[Bug] Invalid pre-filled postal code validation not working?"
### 🐞 Describe the Bug

When invalid postal code is pre-filled via payer structure with CARD payment in createOrder, form does not submit but no error is shown

### 🔬 Minimal Reproduction

https://codesandbox.io/s/purple-currying-nvsqc?file=/src/App.tsx:711-744

### 😕 Actual Behavior

 - Enter card details:
  Card Number: 4020023095220281
  Expiration Date: 01/2022
  CVV: 672
- Do not edit the inv

[2021-08-25 02:08] vrgimael commented on #49
Hey - is there any updates here? Trying to implement custom designs on payment fields, this would be pretty helpful

[2021-08-25 13:09] intermetric opened #143 "[Bug] 'BraintreePayPalButtons' not exported"
### 🐞 Describe the Bug

The BraintreePayPalButtons component is not exported from @paypal/react-paypal-js.

### 🔬 Minimal Reproduction

Importing the component like so:
[code]

### 😕 Actual Behavior

Compilation failure: "Attempted import error: 'BraintreePayPalButtons' is not exported from '@paypal/react-paypal-js'".

### 🤔 Expected Behavior

The component is exported as described in the docs.

[2021-08-25 14:16] gregjopa commented on #143
Hi @intermetric we just published 7.3.0 which includes the `<BraintreePayPalButtons />` component. Please give it a try.

[2021-08-25 14:16] #143 closed

[2021-09-14 09:40] babinslava opened #156 "[Bug] BraintreePayPalButtons doesn't update amount in paypal popup when update createOrder param."
### 🐞 Describe the Bug
`BraintreePayPalButtons` doesn't update amount in paypal popup when update `createOrder` param.

### 🔬 Minimal Reproduction
This is how we use the component and the error is reproducible when the amount is changed.

[code]

### ➕ Additional Context

The workaround for the issue was to add a key to force rerender of the component when amount changes
[code]

[2021-09-17 02:17] #134 closed

[2021-09-17 15:13] DMCChristopherOlsen opened #158 "[Bug] PaypalButtons component errors out in debug mode"
### 🐞 Describe the Bug

When using the PaypalButtons component in a React app created using the `create-react-app` CLI, an error occurs while running the app in debug mode (which starts a new instance/window of Chrome). More explicitly:

* PaypalButtons do not work correctly while using the Chrome debugger for Visual Studio Code's default debug configuration.
* PaypalButtons _do_ work correctly wh

[2021-09-17 22:31] matt-ramotar opened #159 "[Bug] Error: Window closed before response"
### 🐞 Describe the Bug

Window is closing before response. Upgraded to latest as suggested in #104 though still hitting error

### 🔬 Minimal Reproduction

![Screen Shot 2021-09-17 at 6 29 30 PM](https://user-images.githubusercontent.com/59468153/133860147-442d13c1-a7b0-4aaf-9cc6-e13c45d29541.png)

![Screen Shot 2021-09-17 at 6 11 16 PM](https://user-images.githubusercontent.com/59468153/133858966-

[2021-09-17 23:41] matt-ramotar commented on #159
Fixed by awaiting `actions.order.capture()`

[2021-09-17 23:41] #159 closed

[2021-09-19 02:11] #137 closed

[2021-09-20 22:38] bugatti12345 opened #161 "[Feature] Dynamic amount without re-rendering"
### 🚀 Feature Proposal

Based on my knowledge, this SDK only support dynamic amount with `forceReRender`. However, it result as the `Paypal button` disappear and show again within 1 sec if the amount input section and Paypal button are on the same page. It will be nice if we can pass an dynamic amount whenever `createOrder` is called rather than store the initial value when button rendering.

###

[2021-09-22 04:59] SatishJaiswalOZ opened #162 "[Error]: Followed the provided instruction to use PayPal Button but getting error on rendering"
Error:
Error: Failed to render <PayPalButtons /> component. Failed to initialize:  InvalidCharacterError: Failed to execute 'atob' on 'Window': The string to be decoded is not correctly encoded.

But when I commented, the button worked :
const initialOptions = {
  'client-id': 'Ab',
  currency: 'USD',
  intent: 'capture',
  // 'data-client-token': 'abc123xyz==',
}

Platform:
React/NextJS
Typescrip

[2021-09-22 07:20] djsanj007 opened #163 "TypeScript error while importing"
Getting error 'Casing of @paypal/react-paypal-js does not match the underlying filesystem.eslintimport/no-unresolved"
for
import { PayPalScriptProvider, PayPalButtons } from '@paypal/react-paypal-js';

@paypal/paypal-js": "^4.0.11",
@paypal/react-paypal-js": "^7.3.3",

[2021-09-22 13:21] #163 closed

[2021-09-26 02:10] #136 closed

[2021-10-01 13:51] Danicoco commented on #162
I believe there is no such option as "data-client-token".

[2021-10-01 21:31] gregjopa opened #167 "[Hacktoberfest] Covert PayPalButtons.test.js to TypeScript"
We have a bunch of tests that are still using plain JavaScript even though this library is written in TypeScript.

For this issue, convert the [PayPalButtons.test.js](https://github.com/paypal/react-paypal-js/blob/main/src/components/PayPalButtons.test.js) to TypeScript.

[2021-10-01 21:33] gregjopa opened #168 "[Hacktoberfest] Covert PayPalMarks.test.js to TypeScript"
We have a bunch of tests that are still using plain JavaScript even though this library is written in TypeScript.

For this issue, convert the [PayPalMarks.test.js](https://github.com/paypal/react-paypal-js/blob/main/src/components/PayPalMarks.test.js) to TypeScript.

[2021-10-01 21:35] gregjopa opened #169 "[Hacktoberfest] Covert PayPalScriptProvider.test.js to TypeScript"
We have a bunch of tests that are still using plain JavaScript even though this library is written in TypeScript.

For this issue, convert the [PayPalScriptProvider.test.js](https://github.com/paypal/react-paypal-js/blob/main/src/components/PayPalScriptProvider.test.js) to TypeScript.

[2021-10-01 21:37] gregjopa opened #170 "[Hacktoberfest] Covert BraintreePayPalButtons.test.js to TypeScript"
We have a bunch of tests that are still using plain JavaScript even though this library is written in TypeScript.

For this issue, convert the [BraintreePayPalButtons.test.js](
https://github.com/paypal/react-paypal-js/blob/main/src/components/braintree/BraintreePayPalButtons.test.js) to TypeScript.

[2021-10-01 21:39] gregjopa opened #171 "[Hacktoberfest] Covert contextValidator.test.js to TypeScript"
We have a bunch of tests that are still using plain JavaScript even though this library is written in TypeScript.

For this issue, convert the [contextValidator.test.js](https://github.com/paypal/react-paypal-js/blob/main/src/hooks/contextValidator.test.js) to TypeScript.

[2021-10-01 21:40] gregjopa opened #172 "[Hacktoberfest] Covert utils.test.js to TypeScript"
We have a bunch of tests that are still using plain JavaScript even though this library is written in TypeScript.

For this issue, convert the [utils.test.js](https://github.com/paypal/react-paypal-js/blob/main/src/utils.test.js) to TypeScript.

[2021-10-01 22:07] SatishJaiswalOZ commented on #162
When I used BraintreePaypalButton it asked for the same and then I had to generate through Braintree SDK. It worked finally.

[2021-10-01 22:12] gregjopa commented on #162
Yes the `data-client-token` is required for the `<BraintreePayPalButtons />` component. @SatishJaiswalOZ good to hear your integration is working. Is it okay to close out this issue?

[2021-10-01 22:21] #162 closed

[2021-10-01 22:56] vincentrohde commented on #169
@gregjopa sounds interesting, I would like to take a look at it 👍

[2021-10-01 23:31] pedpess commented on #172
Hi Greg 👋🏻 , I can take this one :)

[2021-10-01 23:56] pedpess commented on #172
Made a PR available here: https://github.com/paypal/react-paypal-js/pull/173

[2021-10-02 00:03] pedpess commented on #171
Hey again Greg 👋🏻 , I can take this one too. I will continue working on it in few hours

[2021-10-02 06:53] itsdharmxd commented on #171
**@gregjopa**  can you please assign this project

[2021-10-02 07:24] namit-chandwani commented on #168
Hey @gregjopa, I'd like to work on this issue. Can you please assign it to me?

[2021-10-02 14:40] davidalpert commented on #170
I can take this one, but I intend to convert `src/components/braintree/utils.test.js` first, and may need to branch off of `pedpess:refactor/convert-test-utils-to-typescript` to avoid a conflict if this new PR needs `@types/jest` also.

[2021-10-02 15:14] RonLek commented on #169
Hey Greg! I can take this up. Could you please assign it to me?

[2021-10-02 16:34] gregjopa commented on #170
@davidalpert sounds great. I went ahead and added `@types/jest` to the main branch here: https://github.com/paypal/react-paypal-js/commit/dbeecd9a97e0401db70af43b9d6237026651feac. That way none of the other PRs are stuck waiting for it.

[2021-10-02 16:45] Torfab commented on #167
Hi Greg,
I can do this 👍

[2021-10-02 16:48] Abhijay007 commented on #167
/assign

[2021-10-02 17:01] Abhijay007 commented on #167
Hi, @gregjopa can you please suggest to me some issues like these (conversion issues )contribute !!

[2021-10-02 18:01] davidalpert commented on #170
draft PR is here: https://github.com/paypal/react-paypal-js/pull/174

[2021-10-02 18:35] shubhangi013 commented on #167
Hey! @gregjopa Please assign me this issue.

[2021-10-03 03:50] davidalpert commented on #167
you may want to wait until we merge #174 (or cherry-pick the `package.json` changes from that PR) as I ran into some missing types and a mocking library which will probably be helpful for all the test file conversions.

[2021-10-03 03:50] davidalpert commented on #169
you may want to wait until we merge #174 (or cherry-pick the `package.json` changes from that PR) as I ran into some missing types and a mocking library which will probably be helpful for all the test file conversions.

[2021-10-03 03:50] davidalpert commented on #168
you may want to wait until we merge #174 (or cherry-pick the `package.json` changes from that PR) as I ran into some missing types and a mocking library which will probably be helpful for all the test file conversions.

[2021-10-03 04:38] namit-chandwani commented on #168
Sure, will wait.

[2021-10-03 14:31] Torfab commented on #167
yes, i started working on it and noticed some mismatching in types, thank you @davidalpert

[2021-10-03 15:39] Danicoco opened #175 "Subscription not working in live mode with PayPalButtons"
Using test keys, Subscription works perfectly however, as soon as I added live credentials, the pop window stays for only a couple of seconds and no payment was initiated.

### 🌍 Environment

| Software         | Version(s) |
| ---------------- | ---------- |
| react-paypal-js  | 7.3.3
| Browser          |Chrome
| Operating System |Windows 10

[2021-10-03 23:07] davidalpert commented on #170
@gregjopa it looks like this project is missing a `hacktoberfest` topic at the repo level, as [hacktoberfest](https://hacktoberfest.digitalocean.com/profile) is telling me that if found my PR (probably based on the label) but that the project `react-paypal-js` is not participating.

[2021-10-04 11:24] Hard-Coder05 opened #176 "[Feature] Upgrade Issue Templates to use GitHub Issue Forms"
### 🚀 Feature Proposal

GitHub has recently rolled out a [public beta for their issue forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/) feature. This would allow you to create interactive issue templates and validate them 🤯.

### Motivation

This repository currently uses the older issue template format. Your task is to create GitHub issue forms for this r

[2021-10-04 11:25] Hard-Coder05 commented on #176
@gregjopa If you find this proposal a valuabe one, then please do asign me. I would like to work on this issue!

[2021-10-04 13:47] gregjopa commented on #170
Hi @davidalpert, I added the hacktoberfest label. Hopefully that resolves the issue. We do want react-paypal-js participating and the other repos linked from this page: https://github.com/paypal/hacktoberfest

[2021-10-04 19:47] gregjopa commented on #161
Hi @bugatti12345, currently react-paypal-js tries to provide a very thin layer of abstraction on top of the PayPal JS SDK interface. We are very cautious about adding new props that don't already exist in the `window.paypal.Buttons()` public interface. Also, there are many other arguments to the v2/orders api besides `amount` so we need to be considerate of that as well: https://developer.paypal.c

[2021-10-04 19:47] #161 closed

[2021-10-04 21:18] davidalpert opened #177 "express specific node version for use in local development"
While working on PR #174 I discovered that I needed to use the same node version locally as the build was using in order to reproduce some validation errors seen only when the validate script ran inside github actions.

I propose adding a `.node-version` file to the root of containing

[code]

in order to be explicit about which node version contributors should use for local development.

node ver

[2021-10-05 00:23] davidalpert commented on #170
that did it 🎉 🎃 ⌨️

my PR is now showing up as part of a participating repository. thank you.

[2021-10-05 08:00] sagarchoudhary96 commented on #171
@gregjopa  @itsdharmxd if it's not completed can i pick it up ?

[2021-10-05 08:09] itsdharmxd commented on #171
sure go for it

[2021-10-05 09:17] sagarchoudhary96 commented on #171
@gregjopa once file is changed to `.ts` file it will start throwing error for invalid param type passed to the functions based on the type check. what all needs to be changed in the test FIle then ?

[2021-10-05 09:38] sagarchoudhary96 commented on #171
@gregjopa please review the PR.

[2021-10-05 13:45] schmelto commented on #176
I would like to work on this issue :)

[2021-10-05 22:11] davidalpert commented on #169
@RonLek #174 has been merged; go for it!

[2021-10-05 22:12] davidalpert commented on #168
@namit-chandwani #174 has been merged; go for it!

[2021-10-05 22:13] davidalpert commented on #170
with #174 merged I believe that this issue has been resolved 👏

[2021-10-06 02:03] Hard-Coder05 commented on #176
@schmelto @westeezy  I guess creating a PR before getting assigned is something that's not acceptable! I hope justice will be done with me!

[2021-10-06 02:24] Hard-Coder05 commented on #176
@westeezy @gregjopa I have created a PR solving this issue! Do let me know if some changes are needed!

[2021-10-06 05:56] schmelto commented on #176
Sorry if I was to fast but for me creating a PR is not wrong also if not assigned to the issue. Also I thought due the last comment was two days ago nobody was working on the issue. Feel free to close my pr if it's not applicable :D

[2021-10-06 14:19] westeezy commented on #176
Sorry about the confusion here. @Hard-Coder05 why do you say this is something that's not acceptable? As far as I can tell no one from the organization has chimed in on this. We don't often get to issues immediately as we do have to prioritize other work so in this case there was a delay in us catching up. If you can please clarify what your expectations were we would love to have that feedback.

[2021-10-06 14:21] #171 closed

[2021-10-06 14:44] Hard-Coder05 commented on #176
@westeezy Actually, I was expecting that once the issue I had created will get reviewed by you guys and I am assigned the issue, I will make the PR, which I think is the right process.

There is an organisation X where I had made a PR before getting them assigned, the maintainers marked it as INVALID/SPAM. So, I assume that making PRs without getting assigned is unacceptable.

[2021-10-06 17:16] westeezy commented on #176
@Hard-Coder05 okay I understand. Generally speaking we don't typically operate that way in the repos the sdk team owns, but I can certainly see how it would be desired on other projects and would be a good fit. I think to better resolve the ambiguity I will add a `Contributing.md` file in the root of the repo in the coming days.

@schmelto thanks so much for your flexibility on this. Let's close y

[2021-10-08 14:52] pedpess commented on #172
Thanks!

[2021-10-09 08:23] TrejGun opened #191 "[DOCS]: You guys broke my application again"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

So when you released 7.3.0 you forgot to export PayPalButtonsComponentProps and broke my app
https://github.com/paypal/react-paypal-js/issues/145

now with 7.4.0 you suddenly renamed DISPATCH_ACTION to SCRIPT_PROVIDER_DISPATCH_ACTION
and broke my app

[2021-10-09 12:29] gregjopa commented on #191
Good catch @TrejGun! This was an accident and we shouldn't be renaming any public types without doing a major version release. Sorry about the troubles. Working on releasing a fix #192.

[2021-10-09 12:38] meowdao commented on #191
what a shame!

[2021-10-09 13:06] gregjopa commented on #191
This is fixed with 7.4.1

[2021-10-09 13:06] #191 closed

[2021-10-09 15:35] bnussman opened #193 "[DOCS]: BraintreePayPalButtons `createBillingAgreement` with Braintree"
### Is there an existing issue for this?

No :(

### Documentation Link

https://paypal.github.io/react-paypal-js/?path=/docs/example-braintreepaypalbuttons--default

### Describe the problem

The docs do not explain what needs to be done in createBillingAgreement to vault Paypal when using Braintree. What do I need to put in the `createBillingAgreement` prop to vault / tokenize? I see that `creat

[2021-10-14 02:12] #142 closed

[2021-10-15 18:16] #193 closed

[2021-10-16 13:28] yaya-usman commented on #168
@gregjopa Can I kindly get assigned this issue, if it's not yet closed

[2021-10-16 13:42] rever96 opened #197 "Order amount hacked with client-side integration"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

An user made a payment of 0.01 EUR instead of the correct amount, all the data is correct he just changed the amount and did the payment.

Here is my front-end implementation for the paypal buttons:

### index.tsx
[code]

### cart.tsx

[code]

I gets the correct amount calculed by my back-

[2021-10-17 12:50] liorla1 opened #198 "[BUG]: 'usePayPalScriptReducer' is not defined"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

trying to use a simple example on my App.js provides the 'usePayPalScriptReducer' is not defined error.

### 😕 Current Behavior

when i run this code:
`import React, { Component } from "react";
import { PayPalScriptProvider, PayPalButtons } from "@paypal/react-paypal-js";

class App extend

[2021-10-17 21:57] pasagedev commented on #198
But do you have import for `usePayPalScriptReducer` ?

[2021-10-18 16:59] liorla1 commented on #198
it gook me couple of good minutes to write back and admit this mistake :)))
i'm not a react developer, but this is basic.
thanks @pasagedev  and @gregjopa  !

[2021-10-18 18:56] gregjopa commented on #198
Glad it's working now! I'll go ahead and close this one out.

[2021-10-21 02:20] #197 closed

[2021-10-27 19:44] lu-cruz opened #202 "[BUG]: PayPalHostedFieldsProvider is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

I'm having some issues with PayPalHostedFieldsProvider.
I followed exactly what is in the example, getting no errors, but it´s showing nothing.
Here is the code:
[code]

### 😕 Current Behavior

_No response_

### 🤔 Expected Behavior

_No response_

### 🔬 Minimal Reproduction

_No response_

[2021-11-02 03:05] ntekka opened #205 "[BUG]: startsWith of null or undefined"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

Paypal Messages stopped working, I think paypal SDK upgraded and introduced a new property for 'account' which broke the existing message component.

[code]

### 😕 Current Behavior

_No response_

### 🤔 Expected Behavior

_No response_

### 🔬 Minimal Reproduction

[code]

### 🌍 Environment

[2021-11-02 04:27] gregjopa commented on #205
Hi @ntekka thanks for reporting this issue. We rolled the JS SDK back (`5.0.268 => 5.0.267`) to resolve this issue with the messaging component. It should be working again with version 5.0.267. Please re-open if you are still having issues.

[2021-11-02 04:27] #205 closed

[2021-11-02 17:56] AJDowds opened #206 "[BUG]: OnApproveActions doesn't cater to subscriptions"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

type onApproveActions seems to only be applicable to standard orders and not subscriptions:

[code]

where the paypal response for a subscription onApprove looks like this:

![image](https://user-images.githubusercontent.com/11509307/139919375-e613a3ae-ddf7-4ea7-88c7-338ca067a06d.png)

###

[2021-11-02 18:01] anarerdene commented on #202
@lu-cruz did you fix this issue. Same here :(

[2021-11-02 19:07] gytisgreitai commented on #142
👏

[2021-11-02 21:10] paulous opened #207 "N/A"

[2021-11-02 22:22] #207 closed

[2021-11-03 12:27] lu-cruz commented on #202
Unfortunately not yet...
Just waiting for answers

[2021-11-03 15:12] borodovisin commented on #202
Good morning @lu-cruz, please can you define a custom error component and pass it to the `PayPalHostedFieldsProvider`. I mean something like this:

[code]

To check if your account is eligible to use hosted fields?

[2021-11-03 15:29] lu-cruz commented on #202
Hey, @borodovisin morning thanks for the response! I'm getting this notEligibleError right now...
So what should I do to make my account eligible to use these fields?

[2021-11-03 16:13] borodovisin commented on #202
Hi @lu-cruz, you're right. If the account you're using is ineligible, you won't be able to use the HostedFields.
You need to use an eligible `client-id` to make the HostedFields works...

[2021-11-03 16:24] borodovisin commented on #202
Hi @lu-cruz, HostedFields is disabled by default. You need to follow this guide:
https://developer.paypal.com/docs/checkout/advanced/integrate/

Please be aware of this section: **Enable your account**
<img width="850" alt="enable_account" src="https://user-images.githubusercontent.com/26287838/140101117-47e70c2b-5de0-4ccf-a1fb-c6e2728fd8c8.png">

[2021-11-03 21:23] lu-cruz commented on #202
Thank you very much! @borodovisin

[2021-11-03 21:23] #202 closed

[2021-11-15 03:04] jhg023 opened #208 "[BUG]: onApprove callback is not invoked on new subscription, sometimes"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

The `onApprove` callback is only firing sometimes, which results in subscriptions (recurring payments) being created on PayPal's end, yet not allowing me to communicate with my service that a new subscription has been created.

This issue is affecting my production (live, non-sandbox) envi

[2021-11-17 17:54] mkirlin commented on #158
Hey folks! I'm another PayPal engineer on our DevRel team. We have this error reproduced and we are actively working with a team here to try to figure out exactly what the root cause is. No concrete updates yet on exactly what the issue is, but we will keep this thread updated with whatever we figure out!

[2021-11-19 02:37] wangxingxing123654 opened #209 "How can I show 2 PayPal Smart Button on the same page?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

_No response_

### Describe alternatives you've considered

_No response_

### ➕ Anything else?

_No response_

[2021-12-02 09:34] 9nick9 opened #214 "[BUG]: Using the sandbox tokenized key supplied by braintree causes the BraintreePaypalButtons to fail to render"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

I am attempting to build the BraintreePayPalButtons but I get an error if I use the sandbox tokenized key from braintree as opposed to the client token.  Other members of my team are working on the server side to get the tokens generating so I wanted to use the static key while this was in

[2021-12-02 09:46] 9nick9 opened #215 "[BUG]: BraintreePayPalButtons fail to render"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

I am trying to use the BraintreePayPalButtons as follows:

[code]

However, this fails to render. I can get around the issue by pulling in the braintree-web npm package and pointing window.braintree to this package.  I see react-paypal-js successfully downloading the braintree scripts but

[2021-12-02 18:22] borodovisin commented on #214
Hi @9nick9, checking the code snippet you post above, you are facing a rendering problem because the key "data-client-token" is not a real JWT token 😢. To use the Braintree you should use a real JWT token 🔒, not a random string ✍️.

Please check out this URL: `https://paypal.github.io/react-paypal-js/?path=/docs/braintree-braintreepaypalbuttons--billing-agreement`. There we have a good example of

[2021-12-02 18:30] 9nick9 commented on #214
The issue is that braintree has 2 key types, only 1 of which is a jwt token. The other type, that looks similar to what I passed in, does not work.  If only the client tokens are allowed then having that documented somewhere would be very helpful.

[2021-12-02 18:32] 9nick9 commented on #214
The Braintree documention for that key is located here https://developer.paypal.com/braintree/docs/guides/authorization/tokenization-key

[2021-12-02 23:18] borodovisin commented on #214
Hi, @9nick9 I understand the problem you're facing using the `react-paypal-js` wrapper library with the `tokenization key`.

The BraintreePayPalButtons component was introduced recently and now it's working only with the client token (`JWT`).
That probably it's a gap in our library and in the near future we can support both cases the `client token` and the `tokenization key`.

In the meantime, we

[2021-12-03 15:58] borodovisin commented on #214
Hi @9nick9, I think you can use this key `data-user-id-token` to make it work. That key allows you to use your Braintree tokenizati/on key.

**The bad news** is in the latest release of the library, we don't support the `data-user-id-token`, this is an issue/gap on our end.

Searching in the libraries code we're using two keys `data-client-token` and `data-user-id-token`. The user should use the f

[2021-12-03 16:48] 9nick9 commented on #214
Thanks. That sounds good to me.

[2021-12-07 15:49] sgarg17 commented on #208
@jhg023 did you happen to find any workarounds or resolution for this issue? We're hitting this in sandbox and concerned about the production implications

[2021-12-07 18:19] jhg023 commented on #208
@sgarg17 I did, actually.

My goal was to create a mapping from a user's ID to their respective PayPal subscription ID, and I initially added the logic in the `onApprove` block.

However, because `onApprove` is not always invoked, I moved the logic into the `createSubscription` block, as the PayPal subscription ID is available there as well.

Here's our updated React code:

[code]

[2021-12-07 21:53] wicka-aus opened #218 "PayPal Button issue - Shipping_detail.name.full_name should begin with S2S"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

The user can change their shipping options without issue. I send this payload for the patch:

[code]

### 😕 Current Behavior

When the customer approves the payment, I receive an error:

INVALID_PICKUP_ADDRESS
If the shipping_option.type is set to PICKUP, then the shipping_detail.name.full

[2021-12-10 11:59] #156 closed

[2021-12-13 16:19] sgarg17 commented on #158
@mkirlin any updates here?

[2021-12-14 19:00] mkirlin commented on #158
We talked to the teams that build these components; they took a look at it and it appears that what’s happening here is that whatever process VS Code is using under the hood to connect to the browser in the debugger session is dropping certain messages sent from the button to the parent page, and vice-versa. Based on that, we’re going to close this issue, as the problem does not appear to be in ou

[2021-12-14 19:01] mkirlin commented on #168
It looks like this was completed and merged with PR #203, so I'm going to go ahead and close this.

[2021-12-14 19:01] #168 closed

[2021-12-14 19:15] mkirlin commented on #209
Hey @wangxingxing123654. This should be as straightforward as just putting the component on your page a second time. Since you don't seem to be running into an actual bug with the code, I'm going to go ahead and close this.

[2021-12-14 19:15] #209 closed

[2021-12-14 20:31] mkirlin commented on #206
Hey @AJDowds! I'm a member of PayPal's devrel team. Thanks for your patience on this; I know it's been a while. I've talked to the team that maintains this project; they've created tickets for it, and they're hoping to get them completed during the first sprint in January. I'll follow up with them on Jan. 10 and let you know what the status is.

[2021-12-14 20:31] mkirlin commented on #208
Hey @jhg023 ! I'm a member of PayPal's devrel team. Thanks for your patience on this; I know it's been a while. I've talked to the team that maintains this project; they've created tickets for it, and they're hoping to get them completed during the first sprint in January. I'll follow up with them on Jan. 10 and let you know what the status is.

[2021-12-14 20:32] mkirlin commented on #218
Hey @wicka-aus ! I'm a member of PayPal's devrel team. Thanks for your patience on this; I know it's been a while. I've talked to the team that maintains this project; they've created tickets for it, and they're hoping to get them completed during the first sprint in January. I'll follow up with them on Jan. 10 and let you know what the status is.

[2021-12-14 20:53] borodovisin commented on #215
Hi @9nick9, sorry to take so long for a response. I was trying to replicate the exact same problem you're facing, unfortunately, I did not see the error message. You mention that `react-paypal-js` can successfully load the Braintree library.
That means you can see these two script loads in the Network tab:
<img width="283" alt="Screen Shot 2021-12-14 at 3 51 05 PM" src="https://user-images.githubu

[2021-12-14 21:05] borodovisin commented on #215
@9nick9 that happens all the time?. What browser are you using?.

If you load this script in a mock HTML pate can you see `window.braintree`?

[2021-12-15 02:16] #175 closed

[2021-12-15 09:25] 9nick9 commented on #215
I just tried
[code]
and the window.braintree value is set as expected.

I am using chrome.

[2021-12-15 22:21] borodovisin commented on #215
Hi @9nick9, I tried to replicate the issue using the exact same code you post above.
But I'm not able to replicate that issue where the `window.braintree` is undefined. Please can you see if you're able to reproduce it on the [codesandbox](https://codesandbox.io/s/late-tdd-c237n?file=/src/App.js)

I don't see how the braintree `client.min.js`is load and the `window.braintree` is not set on the con

[2021-12-20 00:22] akulpillai opened #219 "[Security] Workflow validate.yml is using vulnerable action wagoid/commitlint-github-action"
The workflow validate.yml is referencing action wagoid/commitlint-github-action using references v2. However this reference is missing the commit [bf83d2b35c4177779d047f464b48d9907f2c5201](https://github.com/wagoid/commitlint-github-action/commits/bf83d2b35c4177779d047f464b48d9907f2c5201) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version coul

[2021-12-20 23:03] borodovisin commented on #215
Hi @9nick9, can you give us a little more information about what version of React are you using, the browser version, and the Operating System, please?

[2021-12-20 23:12] borodovisin commented on #206
Hi @mkirlin and @AJDowds here is work progress related to this issue: https://github.com/paypal/paypal-js/pull/140.

Still waiting for feedback and any concern about this change.

[2021-12-21 09:30] 9nick9 commented on #215
React 16.9.0.  OSX Big Sur, Chrome 96.0.4664.110

[2021-12-21 17:08] borodovisin commented on #215
Hi @9nick9 are you able to recreate the issue? Can you share a code example?

[2021-12-24 09:21] Rumpelstinsk opened #223 "[DOCS]: How to disable a foundingSource?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

I really don't know if its a documentation problem or that you don't support the feature. Anyway, How can I disable a founding source? Your documentation is not clear about it

### Describe the improvement

In the standard api, you can do something l

[2021-12-24 10:29] Rumpelstinsk commented on #223
I could manage to get it working.
For anyone on my situation you have to:
1. On `<PayPalScriptProvider>` inside the `options`  property. Set on `disable-funding` the buttons you want to hide
2. On `<PaypalButtons>` set `foundingSource` property on each button

[2021-12-24 10:29] #223 closed

[2021-12-30 13:24] alex-r89 opened #224 "[BUG]: White background clips around PayPalButtons"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

I seem to be unable to change the background color of `PayPalButtons` component, which is causing a white clipping to be visible around the Paypal button (image attached).

### 😕 Current Behavior

When using the `PayPalButtons`, a white background is visible around them

<img width="908" a

[2022-01-04 21:46] wicka-aus commented on #218
Hi @mkirlin

Do you know what has happened to this? My support ticket with PP has closed and I am in limbo.

I am not sure on this state of this issue.

Any information would be great.

Here is the initial PayPal React component and am trying to get to work.

As mentioned previously, I can update my shipping options in the PP window - all works fine. As soon as I approve the payment then the error

[2022-01-04 23:08] mkirlin commented on #218
Hey @wicka-aus. As mentioned above, the team is working on getting this fixed in the next few weeks. I didn't realize you had also filed a support ticket; do you have a reference number for that ticket? Was there any feedback provided on that ticket from the support team?

[2022-01-10 21:19] wicka-aus commented on #218
Hi @mkirlin

The case number is 09911651

Thanks again

[2022-01-11 07:19] Arebisc commented on #208
@mkirlin any update? I've also faced this issue on live environment.

[2022-01-11 11:18] Tormand commented on #126
This fixed my TS error `Type 'string' is not assignable to type '"gold" | "blue" | "silver" | "white" | "black"'` when using the style attribute
[code]

[2022-01-11 17:21] mkirlin commented on #208
Hey @Arebisc! This work is in progress in our current sprint; we're hoping to have it completed on or before the 18th.

[2022-01-11 18:38] hugo-licon commented on #77
Is there a way to update the order without closing the form? In my case, I want to update the order when the user enters a discount code. But the problem is that if the user fills the form, then adds the discount code, because we updated the order, we need to close the form, so all the data that the user entered is lost and needs to fill the form again

[2022-01-13 22:03] mkirlin commented on #206
Hey @AJDowds! Looks like @borodovisin was got the fix for this merged a few days back, so I'm going to go ahead and close this issue. Please reopen if you continue to run into this problem. We appreciate your patience on this!

[2022-01-13 22:03] #206 closed

[2022-01-13 22:08] mkirlin commented on #219
Thanks for flagging this; it has been updated now!

[2022-01-13 22:08] #219 closed

[2022-01-13 23:20] borodovisin commented on #224
Hi @alex-r89, can you share all the options you're using  on the `PayPalButtons` component. Or you're able to share a sandbox fork with this issue to take a look?

[2022-01-14 18:18] 9nick9 commented on #215
@borodovisin I was talking to a colleague about this and he looked at the script and saw that the issue seems to be caused due to using AMD loaders on my end. It appears as though the following section will cause that problem.
[code]
Let me know if that helps.

[2022-01-14 19:55] borodovisin commented on #215
Hi @9nick9, that information is super useful.
Now I can see what is going on in the library. Thanks a lot for your patience and also for your help.

We'll start working on this issue probably next week. This is a good case we didn't have in mind during the library development. 🎯

[2022-01-14 23:01] borodovisin commented on #215
Hi @9nick9, can you provide how you are using the AMD. I mean you are loading directly from CDN the `requirejs` script and it's in the global scope.

Can you give us a little more info/context on how you're using it? 🤔

[2022-01-15 14:45] marcusdarmstrong commented on #215
Hi, I’m the aforementioned colleague. We don’t actually use the AMD implementation on the page, it’s just present for some legacy stuff. The problem is simply that because it’s present, the UMD of the Braintree scripts declines to install Braintree onto `window`, and thus this lookup fails: https://github.com/paypal/react-paypal-js/blob/main/src/utils.ts#L23

[2022-01-15 15:13] borodovisin commented on #215
Hi @marcusdarmstrong, thanks for the details on this. Probably next week we can start working on this issue since we have enough information.

Thanks again for all the patience and the help finding this bug.

[2022-01-17 03:19] Jerald-tonmoy-dias opened #236 "[BUG] : can not get dynamic client id"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

  //paypal integration
  const initialOptions = {
    "client-id": { paypal_client_id },
    //"client-id": "AWOafqislzl8zx6-w5BwIOu9p-7DXKNt3Ly4hGzXYNRYBKJkY_yrUcAYSc5RP6YFz_ckikuYoDoBs9NK",
    currency: "USD",
    intent: "capture",
  };

  {/* paypal modal */}
      <div className="mod

[2022-01-17 22:12] borodovisin commented on #215
Hi @9nick9 and @marcusdarmstrong, here you can track the [PR](https://github.com/paypal/react-paypal-js/pull/237) containing the bug fix.

[2022-01-18 15:49] borodovisin commented on #214
Hi @9nick9, the tokenization key is supported now on version >=7.5 of the library.

[2022-01-18 19:06] borodovisin commented on #215
Hi @9nick9 and @marcusdarmstrong, here is some example with a workaround related to the issue you are facing now [repo](https://github.com/borodovisin/braintree-example).

The repo contains a description of what is going on on the `react-paypal-js`. 🧠

Also you can create your custom `Braintree` wrapper component similar to the `BraintreePayPalButtons`and load the Braintree using a different appro

[2022-01-18 19:23] marcusdarmstrong commented on #215
We have no interest in _using_ AMD (and our legacy AMD implementation on the relevant pages wouldn't even support such usage)... We're certainly capable of creating a the window namespace via our own means (and we're currently doing so, by way of an npm dependency on braintree-web), but that has the downside that we're duplicately loading braintree on the page—once for our injection onto the names

[2022-01-19 18:29] borodovisin commented on #236
Hi @Jerald-tonmoy-dias. I saw in your code this: `{ paypal_client_id }` the `client-id` is a string value, not an object.
You should use something like this: `"client-id": `${paypal_client_id}`,` instead.

Please try it and feel free to let us know any feedback or if this doesn't fix your problem.

[2022-01-19 22:37] #214 closed

[2022-01-29 03:36] ed-whittle opened #243 "[FEATURE]: Cancel subscription functionality"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Firstly thanks for this library, it's made Paypal integration with my React website a lot easier.

I am using a subscription model and the createSubscription function is working well, however I haven't been able to locate a function to cancel a su

[2022-01-30 04:15] Jerald-tonmoy-dias commented on #236
Hello brother @borodovisin thank you for  your reply. I have already tried a couple of times the same way you have shown. But still it is not working.

[2022-01-30 23:29] wicka-aus commented on #218
Hi @mkirlin

Do you have any news on this fix?

Thanks

[2022-01-31 02:49] wicka-aus commented on #218
I have updated to React-Paypal-JS 7.5.1

Transaction works if I use shipping, not pick up.

Error: "If the 'shipping_option.type' is set as 'PICKUP' then the 'shipping_detail.name.full_name' should start with 'S2S' meaning Ship To Store. Example: 'S2S My Store'."

Error occurs on Approve not on updating of delivery options.

Payload:
[
    {
        "op": "replace",
        "path": "/purchase_unit

[2022-02-01 18:04] l30c0d35 opened #244 "[FEATURE]: PayPalScriptProvider for multiparty payments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

When using the `PayPalScriptProvider` component the options prop does not seem to take a `merchant-id`. However, to perform a multiparty payment (where the web app is only the platform) script tag would require a merchant id identifying the paymen

[2022-02-01 20:36] gregjopa commented on #244
Hi @l30c0d35 can you try passing the `merchant-id` value as an array? The `PayPalScriptProvider` should support all the params that the paypal-js loader supports:
https://github.com/paypal/paypal-js#merchant-id-array

[2022-02-02 16:16] borodovisin commented on #215
Hi @9nick9 and @marcusdarmstrong the new release `7.6` has the changes related to handling manually the Braintree instance. Please we encourage you to update the dependency and send us any feedback or close the issue if the problem was solved.

Thanks for your patience and help on this 🙏

[2022-02-02 16:50] 9nick9 commented on #215
Thanks @borodovisin . We updated our code to use this today and it's looking good so far.

[2022-02-02 18:33] borodovisin commented on #215
Hi @9nick9, awesome, I'm going to close this issue.

[2022-02-02 18:33] #215 closed

[2022-02-02 23:41] #244 closed

[2022-02-03 21:04] borodovisin commented on #208
Hi @jhg023, a new SDK release is available `paypal version: 280`.

Please, can you test it again with the latest release of the PayPal SDK and give us feedback if the problem did disappear?

If this is not an issue anymore,  please feel free to close it. 👍

[2022-02-04 17:59] deep-edu opened #250 "[BUG]: usePayPalHostedFields always returning null object"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

I am trying to setup a PayPalHostedFields system. I have already checked that my sandbox account is eligible for advanced payments (verified it by using `notEligibleError={<NotEligible />} `and no errors popped up)
My code is almost identical to the one given in the storybook. The input fi

[2022-02-06 23:00] alex-r89 commented on #224
Hi,

The only style related options I am using are as follows:

`style={{ layout: 'vertical', label: 'paypal' }}`

The way I am using this is:

[code]

I have since stopped using blue and I am instead using the gold button because the white edges are less visible, but they are still visible.

[2022-02-06 23:09] alex-r89 opened #251 "Question - how does security work with setting the amount in createOrder()"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Apologies, this is not really a feature request, but I wonder; is it secure that this package is basically all run on the client?

For example, order details are created on the client side and passed into the `actions.order.create` function. Even

[2022-02-07 01:36] gregjopa commented on #251
Hi @alex-r89, PayPal recommend doing a server-side integration with the `createOrder()` and `onApprove()` callbacks. That way you can validate the final amount in the `onApprove()` callback before approving the payment. This question has come up before too. Here is my response in a similar issue: https://github.com/paypal/react-paypal-js/issues/197#issuecomment-945961288

This seems like a great t

[2022-02-07 02:43] wicka-aus commented on #218
Hi Michael @mkirlin

Can you please confirm if this is a bug in the react-paypal-js code, or something I have configured wrong?

Our business usually generate 40%-50% of online sales through PayPal, so to have this issue sitting unresolved is hurting our business.

Any urgent help would be most appreciated.

[2022-02-08 15:01] westeezy commented on #218
Hey @wicka-aus, internally we are investigating what is causing this issue. We believe it to be related to a downstream service and not related to `react-paypal-js`. However I will leave this ticket open so that we have a place to communicate and I am going to speak with the team internally to start triaging what might be causing this issue. Thanks for your patience

[2022-02-08 15:48] borodovisin commented on #224
Hi @alex-r89, I don't see any issue with the behavior of the SDK library. Can you please check if you have some custom CSS class modifying for the example the iframe similar to this:

[code]
Can you inspect the button iframe container and make sure the `background-color` is `transparent`.
<img width="305" alt="Screen Shot 2022-02-08 at 10 42 54 AM" src="https://user-images.githubusercontent.com/26

[2022-02-08 21:24] wicka-aus commented on #218
Thanks @westeezy

[2022-02-09 15:58] borodovisin commented on #250
HI @deep-edu, sorry I barely can understand the code posted. But I notice in the component to handle the form submit you have this check `if (!typeof cardFields.submit === "function")`, meaning you'll never call the `cardFields.submit` function.

I guess you are trying to make this check `if (typeof cardFields.submit === "function")` without the `!` negation.
If that isn't your issue can you share

[2022-02-09 16:23] deep-edu commented on #250
Hello @borodovisin
Thanks for the reply. I noticed this mistake just yesterday and it solved my problem.
Closing this issue.

[2022-02-12 16:14] alex-r89 commented on #251
Thanks for the info. Yeah, the multiple official paypal docs for this all do everything on the client:

- https://www.npmjs.com/package/@paypal/react-paypal-js
- https://paypal.github.io/react-paypal-js/?path=/docs/example-paypalbuttons--default
- https://developer.paypal.com/sdk/js/reference/

There is also no real mention that this is insecure. Even on the server side docs (https://developer.pay

[2022-02-12 16:20] alex-r89 commented on #224
Hi,

No, I do not style iframes at all on my site:

<img width="725" alt="Screenshot 2022-02-12 at 4 16 29 pm" src="https://user-images.githubusercontent.com/7352884/153719132-53400bf6-d927-4af4-a543-081b689fdbd2.png">

In fact, setting a background on this iframe doesnt do anything - it doesnt remove the white background around the button:

<img width="1187" alt="Screenshot 2022-02-12 at 4 18 33

[2022-02-20 09:26] wicka-aus commented on #218
Hi @westeezy Any news on this issue and when it will be resolved?

[2022-02-21 19:38] westeezy commented on #218
We've raised the issue with the team internally responsible for the API. I am currently awaiting a response still. I will check in again to see if any progress is being made.

[2022-02-23 04:40] xjamundx commented on #251
Here's the video series:
https://www.youtube.com/playlist?list=PLJa2J9JcsT9WRoNhETHRZkXZ-NrF0YBWU

There's a doc update coming in another week or two that will add these examples to the docs.

Currently, the video and accompanying examples only showcases the most basic server-side order creation/capture, but more advanced verification and fulfillment as well as a more thorough explanation of the t

[2022-02-23 06:28] codio-lab opened #254 "[BUG]: We are using PayPal Hosted Fields from library. The order is not approved when we call submit function from hostedFields, we are getting response with orderId but it is not approved it's status is still Created."
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

we have implemented according to this storybook component.
https://paypal.github.io/react-paypal-js/?path=/docs/paypal-paypalhostedfields--default
we are facing an issue request urgent response.

### 😕 Current Behavior

_No response_

### 🤔 Expected Behavior

_No response_

### 🔬 Minimal R

[2022-02-23 07:35] xjamundx commented on #254
In the logged output are you seeing any error messages? If so could you
share those here? Also any snippets of your code?

Can you also confirm you are using a valid client id and client token?

Do you know id this issue is happening in the sandbox environment or for
production?

On Tue, Feb 22, 2022, 10:28 PM akram ***@***.***> wrote:

[2022-02-23 08:59] codio-lab commented on #254
Hi, @xjamundx
I have attached a screencast of the entire flow. [https://share.vidyard.com/watch/g5QzgtVKoeQH9yWfZTqzm5?]
we are not getting any error from submit method provided by hosted fields instance. Getting orderId in the "then" block.
checked order with the postman and find that is still in 'CREATED' status. the failed API mentioned screencast is from our own server responding error because

[2022-02-23 17:38] westeezy commented on #218
We are chatting internally about the issue. The API team is aware and debugging.

[2022-02-24 15:44] mkirlin commented on #208
Hey folks! This issue has been quiet for three weeks now and I believe it is fixed, so I'm going to go ahead and close it. @jhg023, if you're still having issues, please reopen or create a new issue. Thanks!

[2022-02-24 15:44] #208 closed

[2022-02-24 16:48] mkirlin commented on #236
Hey @Jerald-tonmoy-dias! Haven't heard anything for a few weeks now, so I'm going to close this ticket for now. If you're still having this issue, please re-open it and post that sample env so Arturo can take a look at it. Thanks!

[2022-02-24 16:48] #236 closed

[2022-02-25 04:34] codio-lab commented on #254
@xjamundx  can you please help us to understand how can we achieve this feature implementation?

[2022-02-25 09:12] ankur-arch opened #255 "[BUG]: Venmo Button not rendering in Chrome Browser"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

Venmo button doesn't appear on the [official example](https://paypal.github.io/react-paypal-js/?path=/docs/example-paypalbuttons--default) in a desktop browser environment

![image](https://user-images.githubusercontent.com/64993082/155685660-997160e5-c9e5-41b3-bdbc-ccc53142db8d.png)

Howe

[2022-02-25 09:49] diegoag64 commented on #254
I am having a similar issue. I have been working on implementing paypal with a react project and the it seems like paypal changed something on their end that makes the documentation for this library not work anymore.

Initially I tried my best to debug the issue, but without any solution I emailed paypal developer support and they told me that to process direct credit card transactions, the paymen

[2022-02-25 10:32] codio-lab commented on #254
@diegoag64 can you please provide me a sample request body for creating an order API where you are passing 'payment_source' ?

[2022-02-25 16:07] diegoag64 commented on #254
@codio-lab it would look like this:

`{
    "intent": "CAPTURE",
        "purchase_units": [
          {
            "amount": {
              "currency_code": "USD",
              "value": "50000"
            }
          }
        ],
        "payment_source": {
            "card": {
                "number": "4032031108790766",
                "expiry": "2024-06",
                "security_code":

[2022-02-28 17:47] diegoag64 commented on #254
@xjamundx anyone paying attention to this issue? My project has been stuck for a week because this is not working and I was hoping paypal would help but I feel lost here.

Contacted paypal support and they just said "Ask on github" so here I am...

[2022-02-28 17:51] xjamundx commented on #254
@diegoag64 Ahh sorry I saw earlier you said you were working with support on this issue and I was hoping things were going well. I'll get someone from the team to look at this ASAP

[2022-02-28 18:07] xjamundx commented on #254
@diegoag64 BTW we're working on a demo codesandbox that does advanced credit card processing with the react sdk (using a nextjs app). It's not something we're promoting quite yet (and still in code review phase), but it might offer some help to see a mostly working example with the server component. That's available at https://codesandbox.io/s/paypal-custom-payment-integration-b9il3r

Trying to fi

[2022-02-28 18:33] ankuronweb commented on #254
@diegoag64 By seeing the video you provided looks like we are missing the last step here-
4. Capture Order- https://developer.paypal.com/docs/checkout/advanced/integrate/#link-captureorder
Please take a look at this sample code on line #32 where you need to call the Orders API with the returned Order id-
https://codesandbox.io/s/paypal-custom-payment-integration-b9il3r?file=/pages/components/cardF

[2022-02-28 19:12] diegoag64 commented on #254
@ankuronweb That is where I am confused, I followed the example provided in the documentation with the process of creating the order and then capturing it, but my transaction always stayed as PENDING when I did that.

I contacted paypal support and they told me that the Create Order -> Capture Order flow was only for the paypal buttons, but for hosted fields I just needed to create the order with

[2022-02-28 19:29] ankuronweb commented on #254
@diegoag64 I just tested Codesandbox demo. It is working fine. Are you using one of the test credit cards or a real card?
<img width="656" alt="Screen Shot 2022-02-28 at 11 17 14 AM" src="https://user-images.githubusercontent.com/1686024/156046318-a9f6486c-2588-486b-b421-7de799a6f13e.png">

[2022-02-28 19:57] diegoag64 commented on #254
@ankuronweb Oh yeah sorry I was trying with a random card. Its working for me too with that number. I am trying to fork the sandbox and do some more debugging with the responses that come back, because I did get the same "COMPLETED" response for the order but for me inside of the purchase_units the payment was always stuck on PENDING and the transaction never showed on my sandbox merchant account.

[2022-02-28 20:34] diegoag64 commented on #254
@ankuronweb Is it confirmed that that sandbox actually makes transactions that show in the merchant account? I forked it and replaced the client_id and client_secret with mine, transactions seem to be working in the front-end (like it did in my previous implementation), but the transactions are not visible in the activity page of the sandbox merchant account.

[2022-02-28 20:43] ankuronweb commented on #254
@diegoag64 Yes, you should be able to see the transaction on your Sandbox Merchant Dashboard once your Orders API call is successful. Just to double check- have you completed the first step here?-

`1. Enable your account`
https://developer.paypal.com/docs/checkout/advanced/integrate/

Please use your SB account email and complete the flow by filing in dummy business details

[2022-02-28 21:07] diegoag64 commented on #254
@ankuronweb yes I already completed that step, I am able to see the transactions on the sandbox API Calls page but they dont show up on my merchant's account. If I provide you the Paypal debug ID would you be able to take a look for me?

I just forked the codesandbox code and replaced the client_id and client_secret, everything should work technically.

API Calls Debug IDs:
Order Creation: d3d2646

[2022-03-03 18:21] menglander commented on #254
@ankuronweb @xjamundx I'm also having an issue with figuring this out. Do you have a contact for someone that can help with this?

[2022-03-03 19:20] xjamundx commented on #254
@menglander Have you contacted merchant support?  Have you found a bug with the SDK or do you need implementation assistance?

@diegoag64 I'm sorry I don't have access to anything support does in terms of verifying your individual account. What I think you're saying is the transactions appear to be working, but aren't showing up on the API calls page on your developer dashboard? Or are the transac

[2022-03-03 19:25] diegoag64 commented on #254
@xjamundx how can I get in direct contact with someone that can help me with this? I contacted merchant dev support and they told me to come here. This should be an easy issue to understand but its becoming so difficult.

The transaction seems to be working fine in your demo, but I cant see it in the Activity page of my sandbox merchant account. I forked the codesandbox and just replaced the clien

[2022-03-03 20:37] xjamundx commented on #254
@diegoag64 I had a member of our MTS team review the issue and verify that the transaction ID of the capture debug_id you posted earlier did go through properly (captured with `status:COMPLETED`).  They’ll be reaching out to get more information and make sure you’re able to find these completed transactions in the receiving sandbox account, and help with any other issues.

FYI, I work in developer

[2022-03-03 20:43] menglander commented on #254
Thanks. Is what we're implementing widely used among merchants?

We've got 18 accounts with PayPal and really hoping we can get this
resolved and implemented fast.

Thanks again for your help.

On Thu, Mar 3, 2022, 3:37 PM Jamund Ferguson ***@***.***>
wrote:

[2022-03-03 20:44] xjamundx commented on #254
@menglander The React PayPal SDK is super popular, but yeah reach out to support with more details and we'll get it figured out. I obviously don't have any specific information about what you're trying to accomplish at this point.

[2022-03-03 20:49] diegoag64 commented on #254
@xjamundx Thanks! Yeah I just checked my merchant account and how all the transactions are there and the demo is working fine.

Do you have any idea of why support initially suggested me to include the payment_source on the request when creating the order and that the capture was done automatically? That is what let me into the rabbithole that I was in since none of the documentation mentioned any

[2022-03-03 20:57] xjamundx commented on #254
@diegoag64 I agree that doesn't sound right, the recommendation I've heard is to use HostedFields which don't require you manually including the `payment_source`. I'm so glad you were able to get it working though and I promise we will improve our documentation in this area.

[2022-03-03 21:02] xjamundx commented on #254
Closing this issue for now. To summarize a few things that came up:

1. When sending to/from accounts that are unverified transactions will end up in a pending state and not go through. Make sure to verify those accounts!
2. Use the `<PayPalHostedFieldsProvider>` and `<PayPalHostedField>` components to safely link to credit card related fields (instead of manually populating the `payment_source`
3

[2022-03-09 01:56] vanfrancisco1 opened #256 "[BUG]: react-paypal-js doesn't seem to work on React Native's <view> tag but works on <div> tag in reactjs."
### Is there an existing issue for this?

- [x] I have searched the existing issues.

### 🐞 Describe the Bug

Hi, It seems like react-paypal-js doesn't seem to work on React Native's `<view>` tag and returns an error. Instead, it encourages us to use a `<div>` but div tag is not allowed on a react native project. Is there a workaround on this or is it not implemented yet as of now?

### 😕 Current

[2022-03-09 03:13] wicka-aus commented on #218
@westeezy Any news on the downstream service fix?

[2022-03-15 22:43] wicka-aus commented on #218
@gregjopa Do you know when this issue will be fixed?

[2022-03-16 14:20] westeezy commented on #218
Hey all I know this is taking a lot of time so I thank you for your patience. I have triaged this issue to the proper team and it looks like they have been investigating actively and I see someone is working on it this week, alongside the chatter I've seen since triaging a few weeks ago. I unfortunately don't have many details further than that at this time. I apologize for the frustration. Please

[2022-03-17 19:26] gorootde commented on #243
+1 and bump

[2022-03-22 13:52] saransh88 opened #257 "[BUG]: Credit card form magnifies and becomes unusable on Chrome 99.X on Android"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

  The Fields within the Debit or Credit Card form magnifies and becomes un-fillable

https://user-images.githubusercontent.com/99205307/159497211-f0ce7b50-0ac4-4482-8a20-0a7f532a3b80.mp4

### 😕 Current Behavior

The screen gets magnified and the form is not usable.

### 🤔 Expected Behavior

[2022-03-25 05:00] meghraj-bril opened #258 "[BUG]: A cross-origin error was thrown. React doesn't have access to the actual error object in development. This error occurs when Paypal component re renders."
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

I am using Paypal react hosted fields to accept credit card payments so i created a common Paypal component to use wherever we need it for payment, this paypal component is inside other parent components so whenever a state changes in the parent the child components also re renders at this

[2022-03-27 19:52] wicka-aus commented on #218
@westeezy Any updates?

[2022-03-28 06:43] anuragsarma33 commented on #258
Hey.
Is there any update regarding this issue?
I am also facing the same error

[2022-03-28 19:38] westeezy commented on #218
Unfortunately no updates yet

[2022-03-28 19:43] borodovisin commented on #258
Hi @meghraj-bril and @anuragsarma33,  we are planning to start digging immediately this issue.
When we have some updates on what is going on here I'll post them and keep you updated.

[2022-03-29 10:26] borodovisin commented on #258
Hi @meghraj-bril, I attached a simple test using the codesandbox you share:

🎥  https://www.loom.com/share/4c57d4c1e4f84575b92927a319a36f5f?sharedAppSource=personal_library

Can you please help me to replicate the issue 🆘 ? In the video above I make a complete transaction and I won't be able to see any issue with the state changes. I'll need your help to be able to easily replicate the issue.

[2022-03-29 10:57] meghraj-bril commented on #258
Hi @borodovisin Thanks for checking, i already tried to replicate this issue on sandbox but it won't replicate there it only replicates in local environment.

[2022-03-29 11:24] borodovisin commented on #258
Hi @meghraj-bril, can be something else in your env making the re-render process, I was thinking maybe the client-token change, or maybe another parent component is mounting/unmounting and that can be the reason the `PayPalScriptProvider ` is probably calling again the SDK library.

In that component, when React executes the state changes asynchronous after the comparison in the virtual DOM it sho

[2022-03-30 00:49] kamzata opened #259 "[FEATURE]: locale option"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I wish I could set the `locale: "it_IT"`

### Describe the solution you'd like

_No response_

### Describe alternatives you've considered

_No response_

### ➕ Anything else?

_No response_

[2022-03-30 11:13] #259 closed

[2022-04-01 19:31] mpreddy928 commented on #257
Hi @saransh88 i tested the issue on sandbox link provided so for the issue raised above can be fixable with user-scalable=no in the meta tag
<meta
      name="viewport"
      content="width=device-width,initial-scale=1,user-scalable=no"
    />
    https://6r2w8n.csb.app/

[2022-04-01 21:04] saransh88 commented on #257
@mpreddy928 Thank you for getting back.
I tried using https://x4e05k.csb.app/ on my Device and this is what I see.
Device: Pixel 4a
Browser: Chrome-100.X
Android Version: 12.X

https://user-images.githubusercontent.com/99205307/161340964-d0d557a7-14a8-40f6-bfa7-5cfb2c329746.mp4

[2022-04-04 02:09] #224 closed

[2022-04-10 21:32] wicka-aus commented on #218
@westeezy Are we getting closer?

[2022-04-11 12:24] alexdonets opened #261 "[BUG]: Transactions don't show up in Braintree's Sandbox Dashboard"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

Using the `BraintreePayPalButtons` I am able to create a payment and get the nonce in `onApprove`, no errors showing. But at the same time there is no trace of the payment/transaction neither in my business PayPal account nor in my sandbox Braintree account. Before, I had a similar setup w

[2022-04-11 16:11] alexdonets commented on #261
Closed since I was missing a create transaction call in Braintree.

[2022-04-11 17:40] mpreddy928 commented on #257
@saransh88 i will check this and let you know asap. Thanks

[2022-04-11 23:12] westeezy commented on #218
It looks like there is an internal PR under review with a proposed fix. So it seems like its getting closer finally

[2022-04-11 23:21] saransh88 commented on #257
@mpreddy928 Most Android device with
Android 10 +
Chrome on Mobile: 99.X+

Devices tried:
Samsung Galaxy 9
Samsung S10+
Pixel 4a 5G

[2022-04-13 10:19] alexdonets opened #262 "[DOCS]: No proper info on how to use `createBillingAgreement` with `PayPalButtons`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://paypal.github.io/react-paypal-js/?path=/docs/example-paypalbuttons--default

### Describe the problem

I need to create a Billing Agreement ID with `PayPalButtons` and I cannot find any relevant information on how to do it. I cannot find any docs on `createBillingAgreement` for `Pay

[2022-04-15 02:13] #251 closed

[2022-04-17 02:08] #255 closed

[2022-04-19 06:25] diegoag64 commented on #258
@meghraj-bril @borodovisin I can confirm that this is an issue. I am not able to replicate it on codesandbox but its really annoying working with the react-paypal-js hosted fields, any sort of state change or conditional rendering breaks the page.

I am constantly having issues where if I save any change on the PaymentForm.js (very similar to the one in the sandbox), the hotreload itself breaks th

[2022-04-20 13:03] robwheatley commented on #243
This would be great. Also a 'change plan' feature.

[2022-04-21 11:00] squareborg opened #263 "[BUG]: Text unreadable on dark background"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

When using the buttons on a page with a dark background some of the text is unreadable

<img width="498" alt="image" src="https://user-images.githubusercontent.com/8677881/164444220-ead99477-dafe-4ee8-a170-0bbbcee1014a.png">

Is there a way to support dark backgrounds?

Thannks

### 😕 Curr

[2022-04-24 02:08] xjamundx commented on #256
What's our react native story?

On Sat, Apr 23, 2022, 7:07 PM github-actions[bot] ***@***.***>
wrote:

[2022-04-24 02:47] vanfrancisco1 commented on #256
I've been trying to use react-paypal-js directly on our react native mobile app but apparently,  it doesn't seem to work as the error suggests that we should use a```<div>``` but div doesn't work on react native.

However, I made a web-based built on ReactJS then use a react native web browser component to be viewed on the mobile app instead.

I would really like to suggest for it to be working on

[2022-04-27 07:38] NedelevPhilip commented on #262
I try to add Button with `intent = "tokenize"`
and can't find proper  info about `createBillingAgreement` in `<PayPalButtons>`

[2022-05-02 04:38] wicka-aus commented on #218
@westeezy Are we getting closer?

[2022-05-06 04:40] markjoseultra opened #264 "[BUG]: Buttons are not responsive on mobile phones"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

On the web, buttons work perfectly, but once viewed on mobile phones it's unresponsive.

### 😕 Current Behavior

When I click on the PayPal button it pops up and then closes immediately, tried other browsers (Safari and Google Chrome)

### 🤔 Expected Behavior

Buttons should be responsive

[2022-05-09 14:37] #257 closed

[2022-05-09 15:22] saransh88 commented on #257
Yes, It's fixed !
Thank you :-)

[2022-05-13 17:26] #264 closed

[2022-05-15 21:51] wicka-aus commented on #218
@westeezy Please, can I have an update on this?

[2022-05-17 19:57] borodovisin commented on #262
Hi @alexdonets, here you can find an [example](https://paypal.github.io/react-paypal-js/?path=/docs/braintree-braintreepaypalbuttons--billing-agreement)

[2022-05-20 03:19] sheggietyn commented on #256
Any Update yet guys.. i'm also having the same issues

Thanks

[2022-05-20 05:55] vanfrancisco1 commented on #256
Until now, there's still no fix. It would be a big help towards react native devs in terms of implementing payment solutions.

[2022-05-22 22:11] wicka-aus commented on #218
Hi @mkirlin [mkirlin](https://github.com/mkirlin)
Please, can I have any news on this? It has been months. Thanks.

[2022-05-23 22:36] wicka-aus commented on #218
Thanks @westeezy. Will test this week.

[2022-05-26 10:42] NedelevPhilip commented on #262
yep, you can't use `createBillingAgreement ` in `PayPalButtons`
I think you should use `BraintreePayPalButtons` or use some Braintree libs

[2022-05-26 15:46] bogdanailincaipnt opened #273 "[BUG]: JS SDK script is not cached properly between main window and button iframe"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

The JS SDK script is not cached properly between main window and button iframe, even though the [paypal performance docs](https://developer.paypal.com/sdk/js/performance/) state:

Note that I am using the `deferLoading` strategy. (edit: it happens even without the defer strategy)

### 😕 Cu

[2022-05-27 11:28] KoesterJannik opened #274 "[BUG]: Unable to build"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

Unable to build this npm package

### 😕 Current Behavior

NPM run build give an type error:

### 🤔 Expected Behavior

npm build compiles fine.

### 🔬 Minimal Reproduction

[code]

### 🌍 Environment

[code]

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this

[2022-05-27 12:47] krik-chry commented on #274
I am having exactly the same problem in version 7.7.0. Maybe a workaround to exclude these files from type checks?

[2022-05-27 12:59] KoesterJannik commented on #274
@krik-chry

Im using react-paypal-button-v2 now. This is working for me.

[2022-05-27 13:18] krik-chry commented on #274
What is your typescript version? Updating from 4.3.2 to 4.5.5 fixed this issue for me

[2022-05-27 13:36] KoesterJannik commented on #274
good to know! My version is 4.6.2

[2022-05-27 16:10] gregjopa commented on #274
Thanks for reporting this issue. The PayPal team is investigating and testing with different versions of TS to see what's going on.

[2022-05-28 20:42] gregjopa commented on #274
@KoesterJannik can you test out the latest release 7.8.1 and see if it fixes your issue?

Here’s the related PR that should have fixed it
https://github.com/paypal/react-paypal-js/pull/277

[2022-05-28 21:01] krik-chry commented on #274
@gregjopa Glad that you had a look. I'll have a look as soon as possible too, test it with the latest version

[2022-05-29 14:12] UsamaIrfan commented on #105
bump

[2022-05-30 15:34] KoesterJannik commented on #274
Thanks. For me it is working with the latest version.

[2022-06-01 02:13] hemengke1997 commented on #119
i've used this code but no works...

[2022-06-01 08:48] hemengke1997 opened #279 "[Q]: How to remove shipping in credit card button?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

Great project!
I'm using the paypal payments sdk buy now button. No shipping is required. How do I remove the shipping address button when people click on the debit/credit card button?
I've tried use `application_context: { shipping_preference: 'NO_S

[2022-06-03 18:57] #274 closed

[2022-06-03 18:58] #218 closed

[2022-06-04 13:15] gghdev opened #280 "[BUG]: onApprove not always firing"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

I've already read through these:
https://github.com/paypal/paypal-checkout-components/issues/1813
https://github.com/krakenjs/post-robot/pull/96
https://caniuse.com/?search=noopener

I'm unable to reproduce this bug myself but we're still having a small but consistent trickle of users who

[2022-06-07 20:32] aronmalkine opened #281 "[BUG]: Typescript Compilation Error"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

Webpack compilation fails with multiple typescript errors on /usr/src/app/node_modules/@paypal/react-paypal-js/dist/types/types/scriptProviderTypes.d.ts. This prevents automatic reloading of react browser window and prevents us from deploying.

### 😕 Current Behavior

When a project file c

[2022-06-07 23:02] aronmalkine commented on #281
Resolved by upgrading typescript from version 4.0.5 to version v4.7.3.

[2022-06-07 23:02] #281 closed

[2022-06-08 19:03] borodovisin commented on #281
Hi @aronmalkine, can you share the typescript version are you using?

[2022-06-09 02:13] #258 closed

[2022-06-10 02:15] #243 closed

[2022-06-10 15:53] theNodeMan commented on #105
bump

[2022-06-12 02:16] #263 closed

[2022-06-14 17:57] MafinBoy opened #282 "[FEATURE]: Add a button which lets user choose donation amount."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

Yes, I know this can be coded by the developer by letting user type in the amount in a textfield, but this is not a very elegant way to do it.
It would be better if this library had a pre-made button that did essentially the same thing as the butt

[2022-06-14 18:47] YousifRagab commented on #263
I ran into the same issue as well, titles (i.e Billing Address) and the close button are very black, I can't figure out how to change their styles.

[2022-06-18 11:30] YousifRagab opened #283 "[BUG]: Text is not visible on dark background"
### Is there an existing issue for this?

- [x] I have searched the existing issues.

### 🐞 Describe the Bug

All texts, titles, and the close button are designed for a light background, using a dark background results in these texts being barely visible.

Does the package support dark mode? Or is there any way to use white color for texts instead of black?

### 😕 Current Behavior

All texts, titl

[2022-06-19 04:48] Dayvyno2021 commented on #280
onApprove doesn't fire because of a bug when dynamically entering the value(amount price). You can confirm that by hard coding the value, it fires. To solve this, use parseInt(#value). Price in the code below represents the dynamically imputed price

export default function App() {
    return (
        <PayPalScriptProvider options={{ "client-id": "test" }}>
            <PayPalButtons

[2022-06-20 10:33] alexdonets commented on #262
The issue with Braintree is that they don't authorize anyone as a merchant that easily and if your application doesn't get approved - you can't use their tools.

[2022-06-20 11:13] alexdonets commented on #262
So I actually found a solution for this. I ended up implementing `createBillingAgreement` actions manually in the handler.

[code]

where `/api/paypal/authorize` is an endpoint I created in my app.

[code]

After this, we get a billing token in `onApprove` and create an actual billing agreement in the handler:

[code]

[code]

where `/api/paypal/create-billing-agreement` is another endpoint I crea

[2022-06-23 00:38] wicka-aus commented on #218
@westeezy @mkirlin The Ship To option is working now. Thanks.

I am still get the S2S issues on Pick Up. Maybe I am just patching incorrectly. Here is my payload:

`
[
    {
        "op": "replace",
        "path": "/purchase_units/@reference_id=='default'/shipping/options",
        "value": [
            {
                "id": "cc-moonee",
                "label": "Click & Collect (Moonee Ponds,

[2022-06-24 22:54] vicenteconejerosdelacruz opened #284 "[BUG]: Paypal payment shows another window in elecronjs environment"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

after pressing paypal this new window is open(the color is the default app color, but it has nothing else
![imagen](https://user-images.githubusercontent.com/10147674/175720356-ed8de073-7588-4df1-be76-90bea86800a1.png)

### 😕 Current Behavior

_No response_

### 🤔 Expected Behavior

_No re

[2022-07-01 10:18] enisze opened #285 "[BUG]: Cannot render the buttons although script is loaded"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

I cannot render the buttons although the script is loaded.

### 😕 Current Behavior

Not loading button

### 🤔 Expected Behavior

Load button

### 🔬 Minimal Reproduction

[code]

### 🌍 Environment

[code]
<img width="704" alt="image" src="https://user-images.githubusercontent.com/15271433/1

[2022-07-05 15:34] hhsl opened #286 "[BUG]: onApprove resolved too late"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

We are experiencing a problem with our paypal react implementation.

In Short:
We want to use react-router's navigate() inside the onApprove handler. Basically route to a "/checkout-complete" page when the payment is done. But the overlay is still visible on the "checkout complete" page.

[2022-07-06 07:10] hhsl commented on #286
After some research, it appears that something is odd: https://github.com/paypal/paypal-checkout-components/issues/1486#issuecomment-870772404 says that the "overlay stays open until promise is resolved" behaviour is intended.

But why is it different on the paypal developer demo?

[2022-07-09 07:54] OldManMeta opened #287 "[BUG]: Continuous call of host page"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

Having implemented this in React TS - I then embed in asp.net core 6 page.

### 😕 Current Behavior

This causes the page to endlessly loop into a reload because this component is calling a create method and requesting the information from paypal - that method then creates a browser redirec

[2022-07-11 07:23] bogdanailincaipnt commented on #273
bump

[2022-07-11 12:29] Gechrist opened #288 "[BUG]: Error during built NextJS"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

I am using react paypal js for a sandbox eshop web app built with Next JS. When I try to built I get the following error:

info  - Checking validity of types...
Failed to compile.
./node_modules/@paypal/react-paypal-js/dist/types/components/PayPalButtons.d.ts:1:15
Type error: ',' expected.

[2022-07-11 15:17] gregjopa commented on #288
Hi @Gechrist, what version of react-paypal-js are you using? The latest release [7.8.1](https://github.com/paypal/react-paypal-js/commit/002426389663ab1a7add659e74881e6d90aa0b4a) should resolve this issue

[2022-07-12 07:42] hhsl commented on #286
Ok, thanks a lot for the explanation!

So navigation should happen after the `onApprove` callback fully resolved, including any server-side capturing. Thus in our case we see the overlay on the navigated page, because the handler is not quite resolved yet.

ps: We absolutely don't use `alert()`in production. Only for demo purposes :)

[2022-07-12 10:11] Gechrist commented on #288
Just updated to 7.8.1 and it works. Thank you.

[2022-07-12 10:11] #288 closed

[2022-07-16 17:21] ekofi opened #290 "[BUG]: Error: Unable to render <PayPalButtons /> because window.paypal.Buttons is undefined."
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

Hi, I am working with Next.js. Everything is normal until: Error: Unable to render <PayPalButtons /> because window.paypal.Buttons is undefined.

[code]

### 😕 Current Behavior

Sometimes it is not coming, sometimes it is coming.

### 🤔 Expected Behavior

It should work when I reflesh the

[2022-07-16 17:49] xjamundx commented on #290
Usually this means there was an issue loading the paypal sdk script, which is usually included with the `<PayPalScriptsProvider>`. Can you share a screenshot of your network tab? My hunch is it's getting some kind of network error, possibly a 400 or 500 error when it tries to load the JS SDK script tag.

[2022-07-16 19:03] ekofi commented on #290
Actually, it works well. https://imgur.com/H9MnnpJ

[2022-07-16 19:07] ekofi commented on #290
Actually, I found this:
[code]

[2022-07-16 19:13] xjamundx commented on #290
Is this code path fully client side rendered? I'm wondering if nextjs
server rendering is somehow messing with the order (or duplicating) the
script tags provided by the PayPal scripts provider.

On Sat, Jul 16, 2022, 12:08 PM Ekofi Research ***@***.***>
wrote:

[2022-07-16 19:18] ekofi commented on #290
Yes, fully client side rendered. So can't I create my own button rather than original button for that?

[2022-07-16 19:23] ekofi commented on #290
Also, Next.js adds defer tags to it. (_documents.js)

`<script src="/_next/static/chunks/pages/paypal.js?ts=1657981437496" defer></script>`

[2022-07-16 19:27] ekofi commented on #290
Next.js loads 2 scripts:
1: https://www.paypal.com/sdk/js?client-id=
2: https://gist.github.com/ekofi/5c2d2d2ff62ccc4407e05af2327be9c8

Are these related?

[2022-07-16 19:33] ekofi commented on #290
Interesting fact is that,

[code]

This works.

[2022-07-16 20:17] xjamundx commented on #290
I can do more follow up on Monday, but any difference if you put `<PayPalScriptProvider>` higher up in your app in case somehow it's being rendered multiple times (i.e. multiple JS SDK scripts loading?)

[2022-07-18 16:13] ekofi commented on #290
@xjamundx Okay, thanks. Very interesting, actually I didn't see multiple JS SDK scripts but maybe..

[2022-07-19 03:45] shinchannn opened #291 "[BUG]: actions.disable() in onInit doesn't disable the button"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

Hi, I'm trying to validate the my form before entering PayPal flow. As far as I know, there's no code example out there about how to implement this in `<PayPalButtons/>`, so I referred to the documentation in this [page](https://developer.paypal.com/sdk/js/reference/). I tried to attach th

[2022-07-21 20:47] fvlasie commented on #280
This fix doesn't work for me unfortunately.

[2022-07-22 02:16] #279 closed

[2022-07-26 04:44] xjamundx commented on #290
Any luck on this? We do have a working NextJS implementation guide here:
https://medium.com/paypal-tech/how-to-use-paypal-to-integrate-card-payments-to-your-website-31e2d20355c

With a code sandbox link so you can try it out yourself:
https://codesandbox.io/s/paypal-custom-payment-integration-b9il3r

[2022-07-29 10:10] ArtemFokin opened #292 "[BUG]: approve subscription throw error: Buyer access token not present"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

Hello
I've created a subscription in createSubscription handler, like actions.subscription.create({...})
But after user pay it, i receive subscription with APPROVAL_PENDING status. After few delay status changed to ACTIVE, but how i can approve it immediately on client side? May be somethi

[2022-07-29 12:01] ArtemFokin opened #293 "[BUG]: Subscription revise types not provided"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

Hello
i'm trying to call subscription actions.revise action in createSubscription(data, actions) handler, but types for it not provided.  I've checked my logs and method exist.

same method in sdk:
https://developer.paypal.com/sdk/js/reference/#link-createsubscription

### 😕 Current Behavi

[2022-08-01 18:58] xjamundx commented on #282
FWIW I love this

[2022-08-02 05:00] AwaMelvine commented on #291
hi @shinchannn, I am facing the same issue as well. Did you manage to find a solution or workaround for this?

[2022-08-02 15:11] gregjopa commented on #291
Hi @shinchannn and @AwaMelvine we provide a `disabled` prop for managing the disabled state in react-paypal-js. You should be able to use this instead of wiring up the behavior in `onInit()`. Ex:

<img width="1126" alt="Screen Shot 2022-08-02 at 10 09 58 AM" src="https://user-images.githubusercontent.com/534034/182409149-0d1257ac-84cc-432d-85a3-4caee3452d2b.png">

[2022-08-03 05:07] wicka-aus opened #294 "Invalid_pickup_address issues"
Hi

I am trying to patch the shipping/name/full_name with "S2S ... " but it is not working.

There isn't any documentation on how a PICKUP delivery type is patch correctly.

My OnShippingChange callback returns this object:

[code]

OnApprove comes back with this error:

[code]

Please help!

TIA

[2022-08-03 16:04] xjamundx commented on #294
We're working on improved documentation for this feature and have some documentation you can look at here that provides a fully working example:
https://developer.paypal.com/limited-release/shipping-options/

Instead of updating shipping options you'll need to update `/shipping/address` with the pickup address.

[2022-08-04 18:25] YousifRagab commented on #283
For anyone wondering, I ended up creating a transparent background for the buttons, and when the purchase button is clicked, the background's color is set to white, and when the screen is closed the background will return to be transparent again.

Not the best solution, but it works.

[2022-08-05 11:59] HasanMothaffar commented on #161
I also ran into this issue in an app I'm working on, and I agree that the current re-rendering mechanism with the `forceRerender` prop is not user friendly. I managed to solve this issue using `useRef`, as suggested in the solution that @gregjopa provided. Thank you!

[2022-08-05 16:05] HasanMothaffar commented on #112
It seems that the error isn't fixed? I can reproduce the original TS error in version `7.8.1`.

## Steps to reproduce

1. Open the sandbox of the original poster: https://codesandbox.io/s/react-paypal-serloadingstatus-mdkux?file=/src/Paypal.tsx
2. Bump the version of the `react-paypal-js` package to version `7.8.1`

Here's a picture of the error:

![image](https://user-images.githubusercontent.com

[2022-08-05 23:15] SalvadorJJ opened #295 "[BUG]: The events of the PaypalButtons component don't catch the updated external variables"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

The events of the PaypalButtons component miss the changes of the variables outside of the event, for example in the `createOrder` event I'd like to use a state outside of the event, like a state value, when the state value change, inside the event has not detected this change and use the

[2022-08-08 21:33] SalvadorJJ commented on #295
I found the solution. I figured out the prop `forceReRender`

[2022-08-08 21:33] #295 closed

[2022-08-08 21:54] xjamundx commented on #295
For things like amount, you can `useRef` and reference `amountRef.current` in the `createOrder` function closure and it will stay up-to-date as well. Frankly, this needs a better callout in the docs!

[2022-08-11 02:14] #262 closed

[2022-08-14 02:17] #284 closed

[2022-08-17 23:28] lmwenda opened #297 "[BUG]: Doesn't show on mobile"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

I can use and pay using this paypal-button module on desktop however when i switch to mobile it doesn't work. It worked on localhost but now it's hosted it doesn't work.

### 😕 Current Behavior

Nothing shows up.

### 🤔 Expected Behavior

I should be able to see the button on mobile and pa

[2022-08-19 21:32] Aldiyazov commented on #282
Need

[2022-08-22 02:16] #285 closed

[2022-08-23 15:29] martavis opened #298 "[BUG]: createSubscription does not populate subscriber information"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

When using `<PayPalButtons />`, the subscriber's information is not populated in the form fields. This is the code being used:
[code]

And here is the [simplified version of the code in CodeSandbox](https://codesandbox.io/s/fancy-waterfall-odtfsg?file=/src/App.tsx) with all dependencies up

[2022-08-23 20:10] ianstrong commented on #224
I'm also experiencing this issue. this needs to be fix i think.
![image](https://user-images.githubusercontent.com/34215734/186256222-b8039e62-6644-4cf3-badc-5cfaf5047281.png)

[2022-08-23 20:30] ianstrong commented on #224
@alex-r89 did you get a fix for this?

[2022-08-24 02:35] OldManMeta commented on #287
bump

[2022-08-24 23:24] ianstrong commented on #224
@alex-r89 @borodovisin I got the cause of this one from one of my senior @ moment. it happens when color scheme is dark. so make sure to **""color-scheme: none""** the parent div of PaypalButtons. I'll create a pr for this.

[2022-08-26 02:17] #256 closed

[2022-08-26 17:12] jbyerline opened #299 "[FEATURE]: Give donors the option to increase their donation amount to help offset the cost of fees?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

PayPal recently released support to round up your donation to cover processing fees. It would be extremely helpful if we had this option as well! Thanks

### Describe the solution you'd like

Simply adding a checkbox to the checkout modal promptin

[2022-08-27 08:46] bogdanailincaipnt commented on #273
bump

[2022-09-01 10:46] lennartlott opened #300 "[BUG]: Smart Button first (fast) click not working and shows blue border"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

The first click within 2 seconds after loading on the smart button shows a blue border and doesn't work.

![paypal button error](https://user-images.githubusercontent.com/6389443/187896262-9f3e2783-54b4-407e-8faf-c420903ffbab.png)

Failed to load resource: https://b.sbox.stats.paypal.com/v

[2022-09-02 02:18] #286 closed

[2022-09-02 08:10] Shooshte opened #301 "[FEATURE]: update to latest react release"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

I wish I could use `react-paypal-js` with `react@latest` but it requires `react@">=16.3.0`

### Describe the solution you'd like

Update the react dependency to work with react 17.

### Describe alternatives you've considered

At the moment we are

[2022-09-05 19:52] MomoRazor opened #302 "[BUG]: Payer Type when running actions.order.create"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

This is a typescript issue, where the Payer Type used in the actions.order.create function has many fields, which are actually optional to the Paypal API, marked as required. This forces users to forgo the use of the Payer Type in cases were this optional information is not being collected

[2022-09-08 18:26] mercpls opened #303 "[BUG]: Failed to execute 'atob' on 'Window': The string to be decoded is not correctly encoded."
# Fix: Removing `data-client-token` fixes the issue. And buttons render properly.

### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

## Framework: Remix run

### HTTP / HTTPS
Happens in both cases. Hosted / Local

## Description
When using `data-client-token` as given in the Example causes the an error to fire [here](https://github.com/pa

[2022-09-09 02:59] tengkuzulfadli opened #304 "[BUG]: Error in validating payment method"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

I am implementing React-Paypal integration for Advanced Payment using our own Api built with dotnet to prepareForPayment, createOrder and capturePayment. I used the same example as yours for hostedfield but keep getting errors. I did check on our dotnet side and test our api in Postman, it

[2022-09-10 02:18] #280 closed

[2022-09-12 06:04] tengkuzulfadli opened #305 "[BUG]: React skipped hostedField"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

Referring to my other bug report on #304 , I tried another way using code example as a base. I did not get any error but it seems like React skipped `hostedfield.cardFields.submit()`

I was unable to find any solutions for this issue but I found a few recent posts on stackoverflow to addre

[2022-09-12 20:52] manziEric commented on #299
did you manage to make this work. im looking for code snippet for multiple choices for the donation button

[2022-09-12 20:55] manziEric commented on #282
did someone manage to get this working im looking for this solution

[2022-09-12 21:01] jbyerline commented on #299
Unfortunately no I did not

[2022-09-14 02:00] westeezy commented on #304
First thing I am noticing is that you should only be rendering one instance of `PayPalScriptProvider` in your component tree. You appear to be rendering two instances one in the parent `MainWrapper` and one in the child `PrepareForPayment`. Any providers should be rendered once if possible to avoid refetches of the sdk. Typically this is easiest when they are rendered at or near the root of your a

[2022-09-14 02:07] tengkuzulfadli commented on #304
@westeezy Thank you for responding to this. I did another implementation by only rendering 1 instance on #305 but React skipped `HostedField`

The one that you implemented is for `PaypalButton` , I can make it work with that but what I want to achieve is by using card fields

[2022-09-14 02:11] westeezy commented on #304
In that case I will close this and we can handle conversation about #305 in its respective issue.

[2022-09-14 02:11] #304 closed

[2022-09-15 01:39] tengkuzulfadli commented on #305
@westeezy Any update on this?

[2022-09-15 19:21] westeezy commented on #305
Not yet we have to triage and schedule it. I'll post updates once we have someone assigned to it.

[2022-09-16 02:17] #290 closed

[2022-09-18 02:18] #293 closed

[2022-09-18 02:18] #292 closed

[2022-09-18 22:19] wicka-aus opened #307 "[BUG]: Actions.order.get() returns PickUp Instead Of Delivery"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

Hi

Even though our customers are choosing a delivery fee in PayPal - our app is patching PP properly with the fee - our orders are created as a PickUp.

I am logging the response from order.get() to our Highlight service and it is showing that PayPal returns 'PICKUP', not 'DELIVERY', on t

[2022-09-18 23:25] tengkuzulfadli commented on #305
Ok well noted

[2022-09-20 22:09] AbelAlcaraz opened #308 "[DOCS]: how to config to use production environment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

_No response_

### Describe the problem

Hi, I want to move my application to use the production environment, but I can't figure how to configure to do it

### Describe the improvement

Add to docs how to set the environment you want to use (sandbox or production)

### Anything else?

_No r

[2022-09-22 02:17] #291 closed

[2022-09-24 02:18] #294 closed

[2022-09-25 02:17] #283 closed

[2022-10-03 04:47] MatthewTang commented on #291
bump

[2022-10-03 05:04] MatthewTang commented on #291
This solution doesn't quite fit my use case, since I need to post my server and ensure a successful response after they click the paypal button *but before* letting the payapl popup appear.

Hope this make sense, Thanks!

[2022-10-07 02:17] #297 closed

[2022-10-12 07:08] bogdanailincaipnt commented on #273
bump

[2022-10-12 19:37] gregjopa commented on #305
Hi @tengkuzulfadli is this still a problem for you? We have a working example of Hosted Fields on Storybook here: https://paypal.github.io/react-paypal-js/?path=/story/paypal-paypalhostedfields--default. That one does call submit() as expected.

If this is still a problem, can you try removing the loading state around `paying`/`setPaying` and see if that helps?

[2022-10-12 22:45] tengkuzulfadli commented on #305
Hi @gregjopa Yes it is. I did remove the loading state and avoid to use any additional state to my code. But I'm still having problem with `Hostedfield`

[2022-10-13 01:08] gregjopa commented on #305
Okay thanks for confirming.

Let’s verify your eligibility. With the Hosted Fields component merchants have to onboard to be eligible.

What does this command return when you run it in the console?
`paypal.HostedFields.isEligible()`

https://developer.paypal.com/docs/checkout/advanced/integrate/#link-fullstackexamplenodejs

[2022-10-13 02:17] #298 closed

[2022-10-13 22:19] tengkuzulfadli commented on #305
@gregjopa sorry for the late response. I will get back to you soon today with my implementations using 2 ways; PaypalButton and Hostedfields.cardfield to emphasis the issue with hostedfields. I will place my code to sandbox

[2022-10-14 00:31] tengkuzulfadli commented on #305
For `PaypalButtons` , it seems like you have updated your docs and removed `hostedfields` of `components` object inside `options` of `PaypalScriptProvider`. This was one of issue I was facing before. The paypal buttons was working fine after I removed `hostedfields` and only define `buttons`. So, for this, it is resolved and I will not provide sample code in sandbox. However, we do not want to use

[2022-10-14 22:57] gregjopa commented on #305
Just to clarify, you can use the `components` prop to load both buttons and hosted fields or just one component. Ex:
[code]

Please provide a url to the reproduction of the hosted fields issue you are experiencing related to `submit()` not firing and we can debug further.

[2022-10-15 02:17] #287 closed

[2022-10-16 19:18] devpato commented on #303
Thanks for providing the solution to your problem! That fixed my error too :)

[2022-10-17 01:05] tengkuzulfadli commented on #305
Please see my implementation below if any mistakes from our side.

1. The form was finally rendered because I did not use `hostedFields.cardfields` method on this implementation
2. When I click `Submit` button, it only logged `Error`, `submit()` and `fetch` did not fire. I replaced path with our own server path built with .net framework and you can test using yours
3. Error log : `POST https://cor

[2022-10-17 16:25] lennartlott commented on #300
This bug still exists. Also big sites like Disney Plus and Joyn are affected.

[2022-10-20 00:03] tengkuzulfadli commented on #305
@gregjopa Thank you for pointing it out. I managed to fix it by passing the `client-id`. However, I'm still getting the same errors for hostedfields as screenshot below:

![Screenshot 2022-10-20 110101](https://user-images.githubusercontent.com/62935899/196826596-dd72dd71-c117-4c85-9269-a3d4304e191e.png)

Here is my implementation:

[code]

[2022-10-20 02:07] tengkuzulfadli commented on #305
@gregjopa I tried another implementation using an example from this package. The code is missing `hostedFields?.cardFields?.submit({})` , not `hostedFields.submit({}) to make the `submit()` event fire when it's triggered. However, I have an error of invalid token and require me to pass `orderId` in hostedfields. Since our back end is preparing all required data such as clientId, clientToken, order

[2022-10-20 05:31] #303 closed

[2022-10-20 16:34] xuanwan05 commented on #305
Hi @tengkuzulfadli, one thing I realized is you didn't return the orderId. Could you please update the createOrder callback and make it return the orderId?

[code]

[2022-10-20 22:27] tengkuzulfadli commented on #305
Hey @xuanwan05 , thank you for pointing out. Yeah I missed that one and just updated to my code. I'm still getting the same error with `invalid access token` . I already checked our access token, it's all good. Is there anything that I'm missing right now?

[2022-10-20 22:43] xuanwan05 commented on #305
Hey @tengkuzulfadli, Could you please follow the steps and send me the screenshot?
1. open browser inspect and click on Network tab
2. find "fetch-client-token" which throws "invalid access token" error
3. Click on the name
4. Send me the screen shot for Headers and Payload
the screen shots should look like:
<img width="902" alt="Screen Shot 2022-10-20 at 5 42 24 PM" src="https://user-images.githu

[2022-10-20 22:59] tengkuzulfadli commented on #305
@xuanwan05 I don't have the `fetch-client-token` but I do have `confirm-payment-source` of hosted-fields-payments-sdk-tokenization

![headers](https://user-images.githubusercontent.com/62935899/197074695-ebfe3126-8b5f-4233-9c56-2f3dec35c72d.png)
![payload](https://user-images.githubusercontent.com/62935899/197074707-54000642-2300-4f11-a3fa-769e48d218cf.png)
![Screenshot 2022-10-21 095807](https://

[2022-10-20 23:08] xuanwan05 commented on #305
Hey @tengkuzulfadli, It seems like you didn't get the orderId. Could you please add `console.log(data.orderId)` before the added row `return data.orderId;` ?  I want to check what the orderId you get.

[2022-10-20 23:17] tengkuzulfadli commented on #305
@xuanwan05 You're right. It didn't get the orderId on createOrder event. However, on `SubmitPayment` component, it is returning an orderId.

See below screenshots:
![Screenshot 2022-10-21 101428](https://user-images.githubusercontent.com/62935899/197076638-16a3c09f-4536-4aef-8a41-befba38eb4f4.png)
![Screenshot 2022-10-21 101510](https://user-images.githubusercontent.com/62935899/197076644-4d7ab1bd

[2022-10-20 23:22] tengkuzulfadli commented on #305
@xuanwan05 added from above comment, I placed a log before if statement on createOrder event, it is returning the same orderId, but it did not return orderId after if statement. Screenshot below:

![Screenshot 2022-10-21 101907](https://user-images.githubusercontent.com/62935899/197077149-fb0c7b3e-426b-4ca3-af66-ebfc04d475c9.png)

I removed `if statement` , now it is returning the `orderId` but st

[2022-10-20 23:37] tengkuzulfadli commented on #305
@xuanwan05 further updates:

I changed from `return order?.id` to `return order.id`, now it's returning `orderId` but still having the same invalid token issue. Screenshots below:

![Screenshot 2022-10-21 103500](https://user-images.githubusercontent.com/62935899/197078762-64adc087-0442-49d5-80ea-2ea22a8c6003.png)
![Screenshot 2022-10-21 103531](https://user-images.githubusercontent.com/62935899/1

[2022-10-21 00:20] xuanwan05 commented on #305
@tengkuzulfadli Could you please send a screenshot of Preview tab which is next to Payload?

[2022-10-21 00:30] tengkuzulfadli commented on #305
@xuanwan05 Please see attached screenshot. I think my bad, it is firing `hostedFields.cardFields.submit()` because it can capture the cardholder details but it didn't call the `${baseUrl}/api/Ppal/ReactApi/CaptureOrder`

![Screenshot 2022-10-21 112800](https://user-images.githubusercontent.com/62935899/197084241-39ed15d9-9383-4256-be68-942a3ec0aa89.png)

[2022-10-21 00:42] tengkuzulfadli commented on #305
This is our access token call in postman

![Screenshot 2022-10-21 114036](https://user-images.githubusercontent.com/62935899/197085297-a66c201f-6a0e-435b-8361-ab2836220270.png)

[2022-10-21 00:55] xuanwan05 commented on #305
Could you please check if Authorization from Request Headers has the same value as the one from postman?
<img width="956" alt="Screen Shot 2022-10-20 at 7 49 39 PM" src="https://user-images.githubusercontent.com/31012905/197086617-1c8b12a9-3d05-4f2c-b38e-1ce9aaaff685.png">

[2022-10-21 01:02] tengkuzulfadli commented on #305
@xuanwan05 Yeah now I'm getting where it went wrong. I have totally different authorization token.

But why is this happening? The clientId that I've got when preparing an order _(That I've got from our back end)_ is the same as clientId that I have in postman.

[2022-10-21 01:16] xuanwan05 commented on #305
I just want to double check, Could you please
1. From Postman, make the call one more time
2. From web browser, fresh the page and click Pay button after fill the card fields and capture the Authorization value
3. Compare the access tokens

I want to see if the access tokens are still different.

[2022-10-21 01:20] tengkuzulfadli commented on #305
Yes, still different

[2022-10-21 01:25] tengkuzulfadli commented on #305
@xuanwan05 But in the request header, the path is `v2` but in Postman, I have `v1` . Are these related to capture a payment and access-token?

![Screenshot 2022-10-21 122324](https://user-images.githubusercontent.com/62935899/197089624-6d8a3086-c9c7-4a98-8fe7-118099e0501c.png)

[2022-10-21 01:51] xuanwan05 commented on #305
In that case, Access tokens should be different. `Access Token not found in cache` error normally means the access token you are using has already expired. I will check with my colleague and get back to you when I have more informations.

[2022-10-21 01:54] tengkuzulfadli commented on #305
Sure, let me know once you have more information to fix this issue. I'll respond as soon as possible

[2022-10-23 02:17] #301 closed

[2022-10-24 15:05] dd8888 opened #311 "[DOCS]: Is there a way to access the available funding sources?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Documentation Link

https://paypal.github.io/react-paypal-js/?path=/docs/example-paypalmarks--radio-buttons

### Describe the problem

Here I see that the funding sources are static, but what if I want them to be dynamic based on the country? Is there a way to access that information?

### Describe the improve

[2022-10-24 17:10] castrolem commented on #224
@ianstrong this comment saved the life of many of the designers at my company, thank you 🙌

[2022-10-24 17:52] ianstrong commented on #224
happy to help <3

[2022-10-25 22:19] tengkuzulfadli commented on #305
Hey @xuanwan05 sorry for the delay responding to you. I did follow the implementation as described here : https://github.com/paypal/react-paypal-js and https://paypal.github.io/react-paypal-js/?path=/docs/paypal-paypalhostedfields--default except props that I added to store our `clientId`, `clientToken`, `merchantRef` and `sessionHash`. If you refer to my implementation above, it is almost similar

[2022-10-25 23:58] gregjopa commented on #305
Hi @tengkuzulfadli, can you try removing those set state calls that you added and see if it fixes the issue with the double network calls? The `useState` code will trigger a re-render when setting state. You can read more about it here: https://reactjs.org/docs/hooks-state.html. Handling re-renders is one of the most tricky parts of React development. If you truly need to store these things in sta

[2022-10-26 02:16] #302 closed

[2022-10-26 04:03] tengkuzulfadli commented on #305
Hey @gregjopa Thank you for your input. It didn't even cross my mind to use useRef. I will try and get back to you soon if it works

[2022-10-27 19:14] gregjopa commented on #305
Hi @tengkuzulfadli, just following up. Were you able to get things working on your end? If so, please close out this issue.

[2022-10-27 22:49] tengkuzulfadli commented on #305
Hi @gregjopa I did test using `useRef` and the hostedFields.cardfield is rendered as expected. However, I'm unable to test using our apis due to under maintenance. I will close this issue first and once our apis are up and running, I will test it again and get back to you if I'm still having the same issue

[2022-10-27 22:49] #305 closed

[2022-10-28 10:20] imranbarbhuiya commented on #224
I'm also having the same issue. My code
[code]

removing the theme fixes this issue but changes my website design, so I can't remove it. Are there any other ways to fix it?

[2022-10-28 11:32] castrolem commented on #224
@imranbarbhuiya what I did was make `a <div style={{colorScheme: 'none'}}><JustMyPayPalComponent /></div>` to not affect anything outside of the codebase.

[2022-10-28 15:14] gregjopa commented on #305
Hi @tengkuzulfadli thanks for confirming it's now working on your end! I'm glad we could help.

And thank you @xuanwan05 for helping resolve this! 💯

[2022-11-02 02:17] #299 closed

[2022-11-02 02:17] #282 closed

[2022-11-03 10:16] JanJanssenD commented on #105
bump

[2022-11-06 22:57] wicka-aus commented on #300
We have this issue too. Button needs to be clicked twice to work.

[2022-11-09 02:16] #307 closed

[2022-11-14 15:20] renato-bohler commented on #105
Had the same problem, and this fix worked for me.

[2022-11-20 10:12] naingaungphyo commented on #283
Why this issue is closed?
I have the similar problem with black background. Please give the option to change debit card label font color.

[2022-11-24 11:36] oscyp commented on #293
bump

[2022-11-24 11:41] oscyp opened #312 "[FEATURE]: Subscription revise method"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like

PayPal allows invoking the `actions.subscription.revise` method from the client but this library doesn't support that. This topic was raised here https://github.com/paypal/react-paypal-js/issues

[2022-11-28 08:12] bogdanailincaipnt commented on #273
bump

[2022-11-29 17:19] gregjopa commented on #312
Hi @oscyp, thanks for reporting this issue. I submitting a PR to add types for `revise()`. Please have a look here: https://github.com/paypal/paypal-js/pull/318

[2022-11-29 22:38] #312 closed

[2022-11-30 14:27] TraGicCode opened #314 "[BUG]: Using PayPalScriptProvider when react app has multiple entry points"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### 🐞 Describe the Bug

Our whole application does not consist of a single react app.  Instead, it's composed of multiple react apps.  In our case we have 2 seperate react apps/components.  One for Showing Credit Messaging and one for showing paypal billing buttons.  My Question is how can we "correctly" use the

[2022-11-30 18:00] gregjopa commented on #314
Hi @TraGicCode, thanks for explaining your use case. Here are a couple options to try with the current design:

## Option 1 - rely on the caching behavior in the paypal-js script loader

We do have some logic inside our script loader to try and prevent unneccessary reloads of the JS SDK script (https://github.com/paypal/paypal-js/blob/main/src/load-script.ts#L30-L31). Can you try wrapping each Rea